/*----------------------------------------------------------------------------------*/
/* General Body
/*----------------------------------------------------------------------------------*/
html{
	height: 100%;
	position: relative;
}

/*----------------------------------------------------------------------------------*/
/* Básico para el body
/*----------------------------------------------------------------------------------*/
body {
	background-color: #fff;
	color: #333;
	font-size: 16px;
	font-family: $fontweb !important;
	position: relative;
	width: 100%;
	min-height: 100vh;
	display:flex;
	justify-content: flex-start;
	align-items:center;
	flex-direction: column;
	overflow-x: hidden;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	> * {
		width: 100%;
		flex-grow: 0;
		flex-shrink: 0;
		font-display: block;
	}

	&.fixed {
		overflow: hidden;
	}

	>main{
		margin: auto;
		margin-top: 0;
	}


	&.ib-wrap-full-width{
		/*.gwr {
	    max-width: 96%;
	  }*/

	  #header{
			.lg-ct-header{
				max-width: 100%;
				.gwr{
					max-width: 100%;
				}
			}

			.gwr{
				max-width: 96%;
			}
	  }

	  #footer{
			.gwr{
				max-width: 96%;
			}
	  }

	  #flex-home-theme{
			.gwr{
				max-width: 96%;
			}
	  }

		#flex-blog-theme{
			.gwr{
				max-width: 96%;
			}
		}
		
		#flex-filters-theme,
		#flex-default-theme{
			.gwr.c-flex{
				max-width: 96%;
			}
		}

	  .gwr{
			&.gwr-breadcrumb{
				.flex-breadcrumb{
					max-width: 96%;
				}
			}
	  }

	  #flex-filters-theme{
	  	.content-filters{
	  		#wrap-filters{
	  			.gwr-filters{
						max-width: 96% !important;
	  			}
	  		}
	  	}
	  }

	  /*#wrap-subfilters,
	  .wrap-subfilters{
			.gwr{
				max-width: 96%;
			}
	  }*/

	  #wrap-result,
	  .wrap-result{
			.gwr{
				max-width: 96%;
			}
	  }
	}
}

/** Resize: max-width 960 **/
@media (max-width: 991px){
	html{
		&.fixed {
			overflow: hidden;
			body{
				top: 0 !important;
				left: 0 !important;
				position: fixed !important;
				min-height: 100vh !important;
				width: 100%;
				overflow: hidden;
			}
			header{
				max-height: 0;
				opacity: 0;
				overflow: auto;
			}
		}
	}
}

/** Modales en celulares **/
html{
  &.modal_mobile {
    //overflow: hidden;
    //height: 100%;
   // overflow: hidden;
    body{
    	overflow: hidden;
      /*top: 0;
      left: 0;
      position: fixed !important;
      width: 100%;
      height: 100vh;*/
    }
  }
}

/*----------------------------------------------------------------------------------*/
/* Autocomplete
/*----------------------------------------------------------------------------------*/
#auc_city_dropdown{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.33) !important;
  >li{
    &:hover{
      background: $colorweb !important;
    }
  }
}

/*----------------------------------------------------------------------------------*/
/* Reseteando imagen
/*----------------------------------------------------------------------------------*/
img{
  text-indent: -999999px;
  overflow: hidden;
}

/*----------------------------------------------------------------------------------*/
/* Botones
/*----------------------------------------------------------------------------------*/
.clidxboost-btn-link,
.clidxboost-btn{
  height: 45px;
  width: auto;
  display: inline-block;
  min-width: 250px;
  span{
    background-color: #333;
    border: 1px solid #333;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    font-weight: 600;
    font-size: 14/16*1rem;
    padding: 0 2rem;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  &:hover{
    span{
      background-color: #FFF;
      color: #333;
    }
  }
}

/*----------------------------------------------------------------------------------*/
/* Google Map
/*----------------------------------------------------------------------------------*/
.flex-shown-map {
	display: block;
	width: 112px;
	height: 35px;
	line-height: 29px;
	text-transform: uppercase;
	font-weight: bold;
	background: rgba(0,0,0,0.75);
	color: #fff;
	padding: 5px 10px;
	box-sizing: border-box;
	position: absolute;
	left: -121px;
	top: 0;

	&:after, 
	&:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:before {
		border-color: rgba(36, 31, 31, 0);
		border-left-color: #313131;
		border-width: 8px;
		margin-top: -8px;
	}
}

.map-controls-ct {
	top: 51px !important;
	right: 11px !important;
}

.dgt-map-controls-ct {
  width: 35px;
  height: 105px;
  >div{
		height: 35px;
		margin-bottom: 4px;
		cursor: pointer;
		background-image: url(../images/ico-map.png);
		background-repeat: no-repeat;
		background-color: #FFF;
		&.dgt-map-zoomIn {
			background-position: 7px 10px;
		}
		&.dgt-map-zoomOut {
			background-position: 7px -32px;
		}
  }
}

.dgt-richmarker-group, 
.dgt-richmarker-single {
	font-family: $opensans;
  white-space: nowrap;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  width: auto;
  display: inline-block;
  font-size: 10px;
  transition: all .35s ease;
	&:after {
		content: '';
		width: 0px;
		height: 0px;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 5px solid #333;
		position: absolute;
		bottom: -4px;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: all .35s ease;
	}
	strong{
		margin-right: 3px;
    display: inline-block;
	}
}

.gm-style .gm-style-cc span, 
.gm-style .gm-style-cc a, 
.gm-style .gm-style-mtc div {
  font-size: 13px !important;
}

/*----------------------------------------------------------------------------------*/
/* Preloading Search
/*----------------------------------------------------------------------------------*/
#flex-spinner-load{
	width: 100%;
	background-color: #FFF;
	z-index: 10;
	padding: 4rem 0;
	display: flex;
	justify-content: center;
	position: relative;
	.flex-spinner-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 70px;
		position: relative;
		&:before{
			content: "";
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 10px solid #ccc;
			border-top-color: #333;
			border-width: 5px;
			-webkit-animation: spin 1s infinite linear;
			animation: spin 1s infinite linear;
			z-index: 2;

			top: 36px;
			left: 50%;
			position: absolute;
		}
		
		p{
			font-size: 1rem;
			font-weight: 600;
			margin: 1rem 0;
		}
	}
}

.flex-map-controls-ct{
	> div{
		position: relative;
	}
}

.mapview-container{
	.mapviwe-header{
		.closeInfo {
			width: 100% !important;
			background-color: transparent !important;
			span {
				text-indent: -999999999px !important;
				display: block !important;
				overflow: hidden !important;
				&:after {
					position: absolute !important;
					right: 10px !important;
				}
			}
		}
	}
}

#code-map{
	.js-info-bubble-close {
	  width: 100% !important;
	}
}

/*----------------------------------------------------------------------------------*/
/* Header Filters
/*----------------------------------------------------------------------------------*/
#header-filters{
	.idx_logo_web{
		.idx_site_text{
			display: block;
			.text-logo{
				height: 55px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				h1.idx_site_text_tit{
					line-height: 1.1 !important;
					font-family: $opensans;
					font-weight: 600;
				}
				span{
					display: block;
					font-family: $opensans;
					font-size: 13/16*1rem;
					line-height: normal;
					margin-top: -3px;
				}
			}
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* Facebook Share
/*----------------------------------------------------------------------------------*/
.fb_iframe_widget{
	span, iframe{
		width: 100% !important;
    height: 100% !important;
	}
}

/*----------------------------------------------------------------------------------*/
/* Header fixeado search
/*----------------------------------------------------------------------------------*/
.temporal-color-header{
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: -1;
	@media (max-width: 767px){
		display: none;
	}
}

.clidxboost-nmap{
	.temporal-color-header{
		display: block !important;
	}
}

.clidxboost-modal-form{
  background: #f5f5f9;
  padding: 2rem 0;
  .modal_cm {
    margin: 0 auto;
  }
  .list-check{
    margin-bottom: 1rem
  }
  .content_md{
  	width: 96% !important;
  	max-width: 350px !important;
  }
}

/*----------------------------------------------------------------------------------*/
/* Shortcode Login Register
/*----------------------------------------------------------------------------------*/
.external-login{
  display: inline-block;
  .external-lg-btn{
    display: flex;
    align-items: center;
    .external-lg-item{
      &:after{
        content: "";
        display: inline-block;
        width: 1px;
        height: 10px;
        background-color: #ccc;
        margin: 0 10px;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }

  .external-lg-active-user{
    position: relative;

    .external-lg-user{
      display: block;
      font-weight: bold;
      text-align: center;
    }

    .external-lg-menu{
      background-color: #FFF;
      position: absolute;
      top: 100%;
      left: 0;
      width: 210px;
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height .3s;
        opacity: 0;
        border: 1px solid #ccc;
        margin-bottom: -1px;
      }
    }

    &:hover{
      .external-lg-menu{
        li{
          height: 35px;
          opacity: 1;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------------*/
/* Estructuras FullPage
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px){
	.active-full-page{
		overflow: hidden;
		#footer{
			display: none !important;
		}
		main{
			padding-bottom: 0;
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* Validaciones varias
/*----------------------------------------------------------------------------------*/
#header {
	.wrap-menu{
		.gwr{
			>.hamburger-content{
				overflow: hidden;
			}
		}

		#show-filters{
			width: 38px;
			height: 38px;
			margin-left: 10px;
			overflow: hidden;
			text-indent: -999999px;
			position: relative;
			background: transparent;
			border-radius: 100%;
			background: $gris-lineas;
			color: #333;
			margin-right: -50px;
			transition: all .6s;
	    span{
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
				&:before{
					content: "\e93b";
					display: flex;
					width: 100%;
					height: 100%;
					font-size: 16px;
					font-family: $web-icons;
					text-indent: 0;
					align-items: center;
					justify-content: center;
					transition: all .3s;
				}
	    }
		}
	}
}

#header .wrap-menu .gwr .menu-responsive .hamburger-content {
  height: auto !important;
}

.r-overlay{
	visibility: hidden !important;
}

.opened-menu header .r-overlay {
  visibility: visible !important;
  opacity: 0.5;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
	display: none;
}

#wrap-neighborhood{
	.ps-scrollbar-y-rail{
		display: none !important;
	}
}

/*----------------------------------------------------------------------------------*/
/* Validaciones varias
/*----------------------------------------------------------------------------------*/
.chk_save{
	&.working{
		span{
			&:before{
				margin: 0 !important;
				content: ""!important;
				position: relative!important;
				top: 8px!important;
				width: 20px!important;
				height: 20px!important;
				margin-left: 20px!important;
				/* left: 50%!important; */
				border-radius: 50%!important;
				border: 2px solid #ccc!important;
				border-top-color: #333!important;
				border-width: 2px!important;
				-webkit-animation: spin 1s infinite linear!important;
				animation: spin 1s infinite linear!important;
				z-index: 2!important;
				display: block!important;
				background-image: none!important;
			}
		}
	}
}

#full-main{
	.title-conteiner{
		.content-fixed{
			.content-fixed-title{
				.breadcrumb-options{
					.working{
						span {
							height: 25px !important;
							overflow: hidden;
							&:before{
								top: 12px !important;
							}
						}
					}
				}
			}
		}
	}
}

.clidxboost-wrapper-smb{
	margin-top: 30px;
}
.page-result{
	.saved-list{
		min-height: calc(100vh - 476px);
	}
}

/*----------------------------------------------------------------------------------*/
/* Info Windows luxury condos
/*----------------------------------------------------------------------------------*/
.mapview-container .mapviwe-body .mapviwe-item h2,
.mapview-container .mapviwe-header h2{
	font-family: $opensans !important;
	z-index: 3;
}

#luxury-condo-page{
	.mapview-container .mapviwe-body .mapviwe-item ul li {
	  font-size: 14px !important;
	  margin-bottom: 3px;
	}
	.mapview-container .mapviwe-body .mapviwe-item h2 {
		font-size: 18px !important;
		font-family: $opensans;
		font-weight: 600;
	}
	.mapview-container .mapviwe-header h2{
		font-family: $opensans;
	}
	.view-map{
		#paginator-cnt{
			display: none !important;
		}
	}
}
.ib-url-brochure{
	float: right;
	display: inline-block;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: 600;
	color: #333;
	position: relative;
	span{
		display: flex;
		width: 100%;
		align-items: center;
		padding-right: 55px;
		height: 45px;
		&:before{
			content: "\e93e";
			width: 45px;
			height: 45px;
			background-color: #333;
			color: #FFF;
			border-radius: 100%;
			position: absolute;
			right: 0;
			top: 0;
			font-family: "idx-icons" !important;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			transition: all .3s;
		}
	}
	&:hover{
		span{
			&:before{
				background-color: #FFF;
				color: #333;
			}
		}
	}
}

#property-description:after {
  content: "";
  display: block;
  clear: both;
}

.gs-item-loading:after, 
.gs-resize:after {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
}

.autocomplete-item-type {
  font-weight: 600;
  color: #c1c1c1;
  position: absolute;
  right: 0;
  top: 3px !important;
  display: inline-block;
  padding: 0 10px !important;
  line-height: normal !important;
  text-transform: capitalize;
  width: auto;
  right: 0 !important;
  left: auto !important;
  bottom: auto !important;
  z-index: 0;
  font-size: 10px;
  height: auto !important;
  @media screen and (min-width: 768px){
  	top: 0 !important;
		padding: 0 15px !important;
		height: 100% !important;
		font-size: 13px;
		display: flex;
		align-items: center;
  }
}

#header{
	.wrap-options{
		.gwr{
			#user-options{
				.menu_login_active{
					opacity: 1 !important;
					display: none;
					>ul{
						li{
							a{
								min-height: 30px !important;
								height: auto !important;
								padding: 5 10px !important;
							}
						}
					}

					&.active_login{
						display: block;
					}
				}
			}
		}
	}
}

.clidxboost-icon-pinterest{
	a:before{
		content: "\e93f";
	}
}

.skiptranslate {
  display: none;
}

#wrap-neighborhood{
	#neighborhood .gwr.block-description{
  	width: 94% !important;
  	margin-left: auto;
  	margin-right: auto;
  }
	
	@media (max-width: 767px){
	  .clidxboost-sc-filters{
	  	margin: 0 -4%;
	  }
	}
}


/*----------------------------------------------------------------------------------*/
/* HACK MOBILE IPHONE
/*----------------------------------------------------------------------------------*/
.content-rsp-btn .idx-btn-content{
	border: 0 !important;
}

.ib-header-modal-filters-mobile img{
	margin-right: auto !important;
}

.buildingPage{
	#full-main{
		.container{
			.property-details.theme-2{
				.property-information{
					border-bottom: 1px solid #E5E5E5;
					&.ms-border{
						border: 0;
						.sale{
							border-left: 0;
						}
						li{
							button{
								span{
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}

#full-main{
	.panel-options{
		.options-list{
			.action-list{
				li{
					&:last-child{
						border-right: 0;
					}
				}
			}
		}
	}
}

/**HACK MOBILE IPHONE**/
@media (max-width: 767px){
	body.only-mobile{
		padding: 0 !important;
		margin: 0 !important;
		.ib-filter-container,
		#flex_idx_search_filter,
		#header,
		.cta-container,
		#footer,
		footer,
		.gwr.gwr-breadcrumb,
		.clidxboost-sc-filters,
		.property-details.theme-3,
		#wrap-neighborhood #header-title,
		.basic-theme.clidxboost-noscroll .nav-aside,
		#wrap-neighborhood #neighborhood .wrap-map-img,
		#wrap-neighborhood #neighborhood .wrap-map-img+div p,
		#wrap-neighborhood #header-title{
			display: none !important;
			height: 0 !important;
		}

		#wrap-neighborhood #neighborhood .gwr.block-description{
			width: 100% !important;
		}

		#flex_idx_modal_wrapper{
			.ib-modal-master.ib-md-active {
				position: relative !important;
				width: 100% !important;
				height: auto !important;
				top: 0 !important;
				left: 0 !important;
				overflow: visible !important;
				z-index: 34 !important;
				overflow-x: hidden !important;
				.ib-mmcontent{
					width: 100% !important;
					height: auto !important;
					max-height: 100% !important;
					top: 0 !important;
					left: 0 !important;
					position: relative !important;
					z-index: 4 !important;
				}

				.ib-property-detail.ib-pdmodal{
					position: relative;
				}
			}
		}

		.ib-modal-filters-mobile {
			height: auto;
			max-height: initial;
			position: relative !important;
			.ib-content-modal-filters-mobile{
				width: 100% !important;
				height: auto !important;
				max-height: 100% !important;
				top: 0 !important;
				left: 0 !important;
				position: relative !important;
				z-index: 4 !important;
				.ib-header-modal-filters-mobile{
					img{
						margin-right: auto;
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* COMERCIAL
/*----------------------------------------------------------------------------------*/
.ib-fitem .ib-label {
  padding: 0 17px;
  position: relative;
}

.ib-modal-filters-mobile{
	.ib-wrap-fm{
		&.ib-cl-1{
			.ib-item-wrap-fm {
		    min-width: 100%;
		    width: 100%;
		    margin-bottom: 10px;
		    &.ib-btn-chk-fm{
		    	label{
						text-align: left;
						justify-content: flex-start;
						padding-left: 15px;
		    	}
		    }
		  }
		}
	}
}

.ib-fdesktop{
	&.ib-hack-all-filters{
		&.ib-comercial-search{
			.ib-fdcol:nth-child(3){
				.ib-fitem:nth-child(2){
					.ib-ficontent{
						padding: 15px;
					}
				}
			}

			.ib-fdcol:nth-child(1){
				.ib-fitem:nth-child(2){
					.ib-ficontent{
						padding-bottom: 0;
					}
				}
			}

			.ib-ficontent{
				.ib-list-wchecks{
				  max-height: 407px;
				  overflow-y: auto;
				  
				  &::-webkit-scrollbar {
				    width: 10px;
				  }

				  &::-webkit-scrollbar-thumb {
				    background-color: #333;
				  }

				  &::-webkit-scrollbar-track {
				    border: 0px solid black;
				    background-color: rgba(0, 0, 0, 0.15);
				  }

					@media screen and (min-width: 640px){
				  	.ib-clabel{
							word-break: break-word;
							display: block;
							&:before{
								top: 0;
								transform: none;
							}

							&:after{
								transform: none;
								top: 4px;
							}
				  	}
				  }
				}
			}

			.unit-beds-range-desc,
			.cap-rate-range-desc{
				p{
					font-size: 13px;
				}
			}

			.ib-wrap-content-select{
				width: 37%;
				select{
					width: 100%;
					height: 100%;
					border: 1px solid #D6D6D6;
					border-radius: 5px;
					padding: 0 5px;
					font-size: 13px;
					text-align: center;
					font-weight: 600;
					display: block;
					text-align: center;
					height: 38px;
					background-image: url(../images/select.png);
					background-position: 80px -2px;
					background-repeat: no-repeat; 
				}
			}

			.lotsize-measure-options{
				display: flex;
				.ib-clabel{
					&:before {
						border-radius: 50%;
					}
					&:after {
						border-radius: 50%;
					}
				}

				.ib-item-lb{
					margin-right: 15px;
				}
			}

			.cap-rate-range-desc{
				margin-bottom: 15px;
			}
		}
	}
}

.ib-ficontent{
	.ib-wchecks[data-type="outer"]{
	  max-height: 350px;
	  overflow-y: auto;
	  display: block;
	  height: auto;
	  
	  &::-webkit-scrollbar {
	    width: 10px;
	  }

	  &::-webkit-scrollbar-thumb {
	    background-color: #333;
	  }

	  &::-webkit-scrollbar-track {
	    border: 0px solid black;
	    background-color: rgba(0, 0, 0, 0.15);
	  }

		@media screen and (min-width: 640px){
	  	.ib-clabel{
				word-break: break-word;
				display: block;
				&:before{
					top: 0;
					transform: none;
				}

				&:after{
					transform: none;
					top: 4px;
				}
	  	}
	  }
	}
}

.sweet-overlay,
.sweet-alert{
	z-index: 110 !important;
}

.ib-msscheckbox{
	z-index: -1;
	height: 0;
	width: 0;
	overflow: hidden;
}

#content-modals{
	z-index: 100;
}

.ib-m-text{
	display: inline-block;
	@media screen and (min-width: 640px){
		display: none;
	}
}

.ib-d-text{
	display: none;
	@media screen and (min-width: 640px){
		display: inline-block;
	}
}

.ppc-contact {
	display: none;
	&.active_modal{
		display: flex;
	}
}

.ib-wrap-hackbox-building{
	position: relative;
	width: 100%;
}

.aside{
	.property-information{
		padding-bottom: 0 !important;
		.ib-wrap-hackbox-building{
			order: 6;
		}
	}
}

.main{
	.container{
		.ib-wrap-hackbox-building{
			display: block;
			@media screen and (min-width: 1024px){
				display: none;
			}
		}

		.main-content{
			.property-details.theme-3{
				.main-content{
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
		}
	}
}

.property-details.theme-3{
	#full-main{
		.property-contact {
			padding: 1rem;
			@media screen and (min-width: 768px){
				padding: 1rem 0;
			}
		}
	}
}

.buildingPage #wrap-subfilters{
	width: 100%;
}

#full-main .main .gwr.ms-full-wrap,
.ms-full-wrap{
	width: 100% !important;
}

.ib-pbtnphone{
	color: #FFF !important;
	background-color: #333 !important;
	display: none !important;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: .8em;

	&:before{
		content: "\e91b" !important;
    font-family: "idx-icons" !important;
    margin-right: 6px !important;
    display: inline-block !important;
    margin-top: 2px !important;
    color: #FFF !important;
    font-weight: 100 !important;
    font-size: 18px;
	}
}

@media (max-width: 767px){
	.property-details{
		&.theme-3{
			#full-main{
				.title-conteiner {
					padding: 8px 0;
					.content-fixed{
						display: flex;
						align-items: center;
						.content-fixed-title{
							.title-page {
								font-size: 16px;
								padding-right: 15px;
							}
						}

						.content-fixed-btn{
							margin-top: 0;
							border: 0;
							flex-shrink: 0;
							li{
								button {
									padding: 0 15px;
								}
							}
						}
					}
				}
			}
		}
	}

	#wrap-subfilters{
		.gwr #sub-filters{
			#link-favorites{
				display: none;
			}
		}
	}

	.ib-requestinfo.ib-phbtn{
		display: none;
	}

	.ib-pbtnphone{
		display: flex !important;
	}

	#wrap-neighborhood{
		.wrap-result,
		#wrap-result{
			&.view-list{
				.result-search,
				#result-search{
					>li{
						.features{
							li.address{
								display: none !important;
							}
						}
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* 	MODAL
/*----------------------------------------------------------------------------------*/
@media (max-width: 639px){
	.ib-pdmodal{
		.ib-pablock.ib-bcform{
			display: none;
		}
	}
}

.ib-request-float-modal{
	.ib-paside{
		position: relative;
		top: 0;
		width: 100%;
		left: 0;
		height: 100vh;
		z-index: 6;
		padding: 20px;
		border: 0;
		padding-top: 50px;
		background-color: #FFF;
		overflow-y: auto;
		.ib-pablock{
			padding: 0;
			border: 0;
		}
	}

	.ib-property-detail.ib-pdmodal .ib-pcontent .ib-btn-request,
	.ib-bdisclaimer.ib-bdisclaimer-desktop,
	.ib-bdisclaimer.ib-bdisclaimer-mobile,
	.ib-property-detail.ib-pdmodal .ib-pcheader,
	.ib-pviews.ib-pva-photos,
	.ib-pbia .ib-pwinfo,
	.ib-bdisclaimer,
	.ib-pviews{
		display: none;
	}

	.ib-property-detail.ib-pdmodal .ib-pcontent{
		padding: 0;
	}

	.ib-float-form{
		display: block;
	}

	.ib-cfsubmit{
		padding: 15px 0;
	}

	.ib-pdmodal{
		.ib-pablock.ib-bcform{
			display: block;
		}
	}
}

.ib-float-form{
  position: absolute;
  top: 0;
  z-index: 2;
  width: 35px;
  height: 35px;
  font-weight: 300;
  font-size: 13px;
  right: 0;
  color: #FFF;
  background-color: #333;
  display: none;
  span{
  	display: flex;
  	width: 100%;
  	height: 100%;
  	align-items: center;
  	justify-content: center;
  	&:before{
  		content: "\e909";
  		display: inline-block;
  		font-family: $web-icons;
  	}
  }
}

@media (max-width: 1023px){
	.ib-fhpb-openers .ib-oitem{
		min-width: 20% !important;
	}
}

.ib-modal-master .ib-pwinfo {
	padding-bottom: 0;
	@media screen and (min-width: 1024px){
		padding-bottom: 60px;
	}
}
 
.buildingPage #full-main .container .property-details.theme-2 .property-information li button.active{
	background-color: #333 !important;
	color: #FFF !important;
	span{
		color: #FFF !important;
	}
}

@media (max-width: 680px){
	#full-main .title-conteiner .content-fixed .content-fixed-title{
		width: 70% !important;
	}
	#full-main .title-conteiner .content-fixed {
    width: 94%;
  }
  .property-details.theme-3 #full-main .title-conteiner .content-fixed{
  	justify-content: space-between;
  }
}

.ib-pilitem{
	flex-grow: 1;
	.ib-pilnumber {
		width: 100%;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: center;
	}
}

.ms-order-m{
	order: -1;
}

.ib-infobox.ib-ibmulti .ib-ibproperties{
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 640px){
	.ib-mmcontent{
		height: 100vh
	}
	.ib-mgeneric {
	  height: 100%;
	}
}

#full-main .property-contact .form-content.large-form .avatar-content{
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.page-template-flex-page-neighborhood-detail-silo{
  .clidxboost-sc-filters{
    .content-filters{
      #wrap-filters,
      .wrap-filters{
        .gwr{
          #filters,
          .filters{
            li.all{
              margin-bottom: 0;
            } 
          }
        }
      }
    }
  }
  
  @media (max-width: 990px){
    #header-title{
      .clidxboost-btn-link{
        display: none;
      }
    }
  }
}

.aside{
	.property-information{
		li.rent, 
		li.sale{
			border-right: 1px solid #e5e5e5;
		} 
	}
}

@media (max-width: 640px){
	body.ib-wrap-full-width #flex-filters-theme .content-filters #wrap-filters .gwr-filters,
	body #flex-filters-theme .content-filters #wrap-filters .gwr-filters{
		max-width: 100% !important;
	}
}

.ms-hidden-text{
	overflow: hidden;
	height: 0;
	width: 0;
	position: absolute;
	z-index: 0
}

@media (max-width: 989px){
	body.fixed-active.lg-theme .ib-filter-container.ib-filter-container-inscroll,
	body.fixed-active .ib-filter-container.ib-filter-container-inscroll,
	body.fixed-active .ib-filter-container{
		animation: fadeInDown !important;
		animation-duration: .8s !important;
    animation-fill-mode: both !important;
	}
}

/*----------------------------------------------------------------------------------*/
/* DRIFT UPDATE
/*----------------------------------------------------------------------------------*/
#drift-widget-container {
	z-index: 32 !important;
}

.opened-menu #drift-widget-container {
	z-index: 6 !important;
}

@media (max-width: 767px) {
	.opened-menu{
    overflow: hidden;
    height: 100vh !important;
	}

	.ib-badvanced:before{
		display: none !important;
	}
}

/*----------------------------------------------------------------------------------*/
/* FLOORPLANS
/*----------------------------------------------------------------------------------*/
.ib-grid-floorsplan{
	margin-top: 25px;
	padding: 0 1rem;
	
	@media screen and (min-width: 768px){
		padding: 0;
	}

	.ib-fp-img{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		img{
			width: 100%;
		}
	}

	.ib-fp-table{
		margin-top: 15px;
	}
	
	&.tbl_properties_wrapper{
		table{
			tbody{
				tr{
					td:first-child{
						text-align: center;
						justify-content: center;
					}
				}
			}

			thead,
			tbody{
				tr{
					th:nth-child(3),
					td:nth-child(3),
					th:nth-child(7),
					td:nth-child(7){
						display: table-cell !important;
						@media screen and (min-width: 768px){
							display: flex !important;
						}
					} 
				}
			}
		}
	}
	
	@media (max-width: 640px) {
		&.tbl_properties_wrapper{
			table{
				thead,
				tbody{
					tr{
						th:nth-child(2),
						td:nth-child(2){
							display: none !important
						}
					}
				}
			}
		}
	}

	.ib-ms-btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

/*----------------------------------------------------------------------------------*/
/* OPEN HOUSE
/*----------------------------------------------------------------------------------*/
/*.ms-open{
	display: none !important;
}*/

#full-main,
.view-grid,
.ib-property-detail.ib-pdmodal{
	.ms-wrap-open{
		border: 5px solid #5f9b45;
		padding: 5px 10px;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		background-color: #80be58;
		color: #FFF;
		position: absolute;
		top: 15px;
		z-index: 3;
		left: 15px;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

		&:after,
		&:before{
			content: "";
			display: block;
			width: 5px;
			height: 15px;
			position: absolute;
			top: -20px;
			background-color: #b7a39f;
		}

		&:after{
			right: 15px;
		}

		&:before{
			left: 15px;
		}
	}

	.ms-open-title{
		display: block;
		text-align: center;
		margin-bottom: 4px;
	}

	.ms-open-date{
		font-weight: 400;
	}

	.ms-open-time{
		font-weight: 400;
		display: inline-block;
		margin-left: 5px;
	}
}

#full-main,
.ib-property-detail.ib-pdmodal{
	.ms-wrap-open{
		left: 15px;
		bottom: 15px;
		top: auto;
		right: auto;
		&:after,
		&:before{
			top: auto;
			bottom: -20px;
		}
	}
}

#full-main{
	.ms-open{
		position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
	}
}

.view-map{
	.ms-open{
		position: absolute;
		background: #5e9b44;
		width: auto;
		height: 40px;
		top: 10px;
		left: 10px;
		z-index: 3;
		overflow: hidden;
		padding-left: 40px;
		border-radius: 50%;
		cursor: pointer;

		&:before{
			color: #FFF;
	    width: 40px;
	    height: 40px;
	    background: #5e9b44;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 2;
	    border-radius: 50%;
	    content: "\e919";
	    font-family: 'idx-icons';
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 17px;
		}

		.ms-wrap-open{
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 20px;
			width: 315px;
			display: flex;
			overflow: hidden;
			align-items: center;
			justify-content: center;
			height: 100%;
			font-size: 12px;
			color: #FFF;
			padding: 5px 10px;
			background-color: #80be58;
			padding-left: 20px;
			text-transform: uppercase;
			font-weight: 600;
			opacity: 0;
			transition: opacity .4s;
			span{
				display: inline-block;
				margin-right: 5px;
				&:last-child{
					margin-right: 0;
				}
			}
		}

		&:hover{
			overflow: visible;
			.ms-wrap-open{
				opacity: 1;
			}
		}
	}
}

body{
	&:not(.clidxboost-ngrid){
		.wrap-result,
		#wrap-result{
			&.view-grid,
			&.full-map{
				.result-search,
				#result-search{
					>li{
						h2{
							display: block !important;
							-o-text-overflow: ellipsis !important;
							text-overflow: ellipsis !important;
							overflow: hidden !important;
							white-space: nowrap !important;
							span{
								display: inline !important;
							} 
						}
					}
				}
			}
		}
	}
}

#ib-push-registration{
	.footer_md{
		font-size: 14px;
		text-align: center;
		a{
			color: #648ad2;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.ms-skip.ms-close.ms-close-step{
	width: 30px;
	height: 30px;
	background-color: transparent;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 4;
	overflow: hidden;
	display: block;
	color: #afaeb5;
	&:hover{
		color: #333;
	}
	span{
		display: flex;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before{
			content: "\e913";
			display: inline-block;
			font-family: "idx-icons"!important;
			font-size: 1rem;
			text-indent: 0;
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* FORMULARIOS / RENT / SELL / BUY
/*----------------------------------------------------------------------------------*/
/*#lead_submission_rent_form,
#lead_submission_buy_form{
	.ib-fsradios:first-child{
		.ib-fsritem{
			&:nth-child(4){
				display: none;
			}
		}
	}
}*/

@media screen and (min-width: 480px){
	.ib-filabel {
		width: calc(100% - 20px);
		margin-right: 0;
	}
}

/*----------------------------------------------------------------------------------*/
/* OCULTANDO LABELS DE LOS DIFERENTES FORMULARIOS
/*----------------------------------------------------------------------------------*/
#cntLoginForm{
	label{
		position: absolute;
		overflow: hidden;
		width: 0;
		height: 0;
		z-index: -1;
	}
}

.ms-hidden{
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#view_list{
	.ms-bx-title{
		padding: 15px 0 0;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		color: #7d7d7df2;
		display: none;
		@media screen and (min-width: 768px){
			display: block;
		}
	}
}

.form-content.large-form{
	.ms-big-text{
		font-size: 16px;
		font-weight: 600;
		margin: 15px 0;
		text-transform: uppercase;
		text-align: center;
		@media screen and (min-width: 640px){
			margin: 0 0 15px 0;
			text-align: left;
		}
	}
}

fieldset{
	border: 0;
	margin: 0;
	padding: 0;
	legend{
		position: absolute;
		z-index: -1;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

/*----------------------------------------------------------------------------------*/
/* Estructuras generales
/*----------------------------------------------------------------------------------*/
@import '../helpers/resources/basic-testimonials.scss';
@import '../helpers/resources/contact-form-basic-theme.scss';
@import '../helpers/resources/breadcrumbs.scss';
@import '../helpers/resources/paginator.scss';
@import '../helpers/resources/message.scss';

@import '../helpers/resources/modals.scss';
@import '../helpers/resources/modals-master.scss';
//@import '../helpers/resources/modal-register.scss';
@import '../helpers/resources/modal-new-login.scss';

@import '../helpers/resources/modal-full-slider.scss';
@import '../helpers/resources/full-slider.scss';
@import '../helpers/resources/sliders.scss';
/*@import '../helpers/resources/full-slider_conantiguoslider.scss';
@import '../helpers/resources/sliders_conantiguoslider.scss';*/
@import '../helpers/resources/similar-properties.scss';
@import '../helpers/resources/autocomplete-home.scss';
@import '../helpers/resources/basic-form.scss';
@import '../helpers/resources/preloader.scss';
@import '../helpers/resources/collapse.scss';
@import '../helpers/resources/quick-search.scss';
@import '../helpers/resources/great-slider.scss';
@import '../helpers/resources/neighborhoods-list-home.scss';
@import '../helpers/resources/neighborhood-menu.scss';
@import '../helpers/resources/neighborhood-home-list.scss';
@import '../helpers/resources/ppc.scss';
@import '../helpers/resources/neighborhood-grid-map.scss';
@import '../helpers/resources/floor-plans.scss';

/*----------------------------------------------------------------------------------*/
/* Shortcode
/*----------------------------------------------------------------------------------*/
@import '../helpers/resources/shortcode-inventory-counter.scss';
@import '../helpers/resources/shortcode-tab-slider.scss';
@import '../helpers/resources/shortcode-box-search.scss';
//@import '../helpers/resources/new-quick-search.scss';
