footer#footer

	.flex-footer-content
		.gwr
			ul.flex-site-description
				li.logo-footer
					a(href="#", title="Flexidx")
						img.logo(src="../images/logo.png", title="Flexidx", alt="Real Estate Search Tecnology")
				li.name-site Flex IDX Demo Site
				li.number-site Office: (305) 705 - 5000  |  info@flexidx.com
				li.address-site 2828 Coral Way, Suite 435, Miami Fl 33145

			ul.flex-company-site
				li.company-parnet
					img(src="../free-theme/images/realtore.png", title="Realtore", alt="Realtore logo")
				li.copyright-site All rights reserved 2015 © Copyright alta realtors
				li.submenu-site
					ul.submenu-footer
						li: a(href="#", title="Term of Service") Term of Service
						li: a(href="#", title="Privacy Policy") Privacy Policy
						li: a(href="#", title="Sitemap") Sitemap