{
  "name": "idxboost-master-css",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "free-theme/js/dgt-project-master.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "free-theme/css/main-project.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "js/dgt-master.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/dgt-master-final.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/plugins/condo-js.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "homeFlex/css/main.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "homeFlex/scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "resf/css/resf.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css/main-project.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "fortune/css/fortune.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "millennium/css/millennium.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "edge/css/edge.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "scss/core/pages/reset-theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "continuum/css/continuum.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "css/luxury-condos.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css/millennium.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css/fortune.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_minimal/main-project.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_millenium/millennium.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_fortune/fortune.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_edge/edge.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_related/related.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_lg/lg.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_robertomalca/edge.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_lg_073/project/css/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "scss/core/helpers/resources/modals-master.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "preview/css_microsite/micrositeib.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "filter-search-css/flex-idx-search-filter.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "css/sweetalert.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "free-theme/css",
      "homeFlex/scss",
      "resf/css",
      "fortune/css",
      "edge/css",
      "continuum",
      "continuum/css",
      "preview/css_lg_073/project/css",
      "preview/css_minimal",
      "preview/css_lg",
      "scss",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "filter-search-css/flex-idx-search-filter.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter_.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter__.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter____.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter_____.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter______.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter_______.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter________.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "filter-search-css/flex-idx-search-filter_________.scss",
      "imports": [
        "filter-search-css/plugin/great-slider.scss"
      ]
    },
    {
      "path": "pages/agents.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/blog-collection.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/blog-detail.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/building-detail.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/collection-buildings.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/email-settings.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/listings-2.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/listings.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/neighborhoods_forsale.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/neighborhoods_home.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/neighborhoods_home_version2.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/neighborhoods_home_version2__x.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/page-results.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "pages/property-detail.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "preview/about.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/agents-detail.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/agents.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/all-filter-2.jade",
      "imports": [
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/all-filter.jade",
      "imports": [
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/blog-detail.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/blog.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/building-detail.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/collection-buildings.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/contact.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/default-neighborhood-list.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/default.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/demo-px.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/filters.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/home.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/lg.scss",
      "imports": [
        "preview/core/variables/variables.scss",
        "preview/core/generals/general.scss",
        "preview/core/generals/header.scss",
        "preview/core/generals/footer.scss",
        "preview/core/generals/about.scss",
        "preview/core/generals/contact-us.scss",
        "preview/core/generals/reset-core.scss",
        "preview/core/generals/lg-components.scss",
        "preview/project-style.scss"
      ]
    },
    {
      "path": "preview/listado-condos.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/listings.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/neighborhoods_collection.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/neighborhoods_detail_.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/neighborhoods_home_version2.jade",
      "imports": [
        "header.jade",
        "footer.jade"
      ]
    },
    {
      "path": "preview/page-results-full-map.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/page-results.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "preview/property-detail.jade",
      "imports": [
        "preview/header.jade",
        "preview/footer.jade"
      ]
    },
    {
      "path": "scss/main.scss",
      "imports": [
        "scss/core/helpers/reset.scss",
        "scss/core/helpers/animations.scss",
        "fonts/icons/style.css",
        "scss/core/plugins/jquery-ui.scss",
        "scss/core/variables/variables.scss",
        "scss/core/generals/general.scss",
        "scss/core/generals/profile-table.scss",
        "scss/core/pages/search-results.scss",
        "scss/core/pages/property-detail.scss",
        "scss/core/pages/building-detail.scss",
        "scss/core/pages/exclusive-listing.scss",
        "scss/core/pages/default-template.scss",
        "scss/core/pages/blog.scss",
        "scss/core/pages/blog-detail.scss",
        "scss/core/pages/luxury-condo.scss",
        "scss/core/pages/condo-detail.scss",
        "scss/core/pages/404.scss",
        "scss/core/pages/agents.scss",
        "scss/core/pages/agents-detail.scss",
        "scss/core/pages/neighborhoods-collection.scss",
        "scss/core/pages/terms-and-conditions.scss",
        "scss/core/pages/amenities.scss",
        "scss/core/pages/new-condo-list.scss",
        "scss/core/generals/printer.scss",
        "scss/core/helpers/resources/buyers-sellers-rentals.scss",
        "scss/core/helpers/resources/flex-idx-search-filter.scss",
        "scss/core/helpers/resources/menu-history.scss",
        "scss/core/pages/accesibility.scss",
        "scss/core/helpers/resources/aditional-css-pages.scss",
        "scss/core/helpers/resources/basic-testimonials.scss",
        "scss/core/helpers/resources/contact-form-basic-theme.scss",
        "scss/core/helpers/resources/breadcrumbs.scss",
        "scss/core/helpers/resources/paginator.scss",
        "scss/core/helpers/resources/message.scss",
        "scss/core/helpers/resources/modals.scss",
        "scss/core/helpers/resources/modals-master.scss",
        "scss/core/helpers/resources/modal-register.scss",
        "scss/core/helpers/resources/modal-new-login.scss",
        "scss/core/helpers/resources/modal-full-slider.scss",
        "scss/core/helpers/resources/full-slider.scss",
        "scss/core/helpers/resources/sliders.scss",
        "scss/core/helpers/resources/similar-properties.scss",
        "scss/core/helpers/resources/autocomplete-home.scss",
        "scss/core/helpers/resources/basic-form.scss",
        "scss/core/helpers/resources/preloader.scss",
        "scss/core/helpers/resources/collapse.scss",
        "scss/core/helpers/resources/quick-search.scss",
        "scss/core/helpers/resources/great-slider.scss",
        "scss/core/helpers/resources/neighborhoods-list-home.scss",
        "scss/core/helpers/resources/neighborhood-menu.scss",
        "scss/core/helpers/resources/neighborhood-home-list.scss",
        "scss/core/helpers/resources/ppc.scss",
        "scss/core/helpers/resources/neighborhood-grid-map.scss",
        "scss/core/helpers/resources/floor-plans.scss",
        "scss/core/helpers/resources/shortcode-inventory-counter.scss",
        "scss/core/helpers/resources/shortcode-tab-slider.scss",
        "scss/core/helpers/resources/shortcode-box-search.scss",
        "scss/core/helpers/resources/new-quick-search.scss",
        "scss/core/helpers/resources/filters.scss",
        "scss/core/helpers/resources/filters-mobile.scss",
        "scss/core/helpers/resources/view-grid.scss",
        "scss/core/helpers/resources/view-grid-formato-uno.scss",
        "scss/core/helpers/resources/view-list.scss",
        "scss/core/helpers/resources/view-map.scss",
        "scss/core/helpers/resources/view-full-map.scss",
        "scss/core/helpers/resources/all-filters.scss",
        "scss/core/helpers/resources/autocomplete-list.scss",
        "scss/core/helpers/resources/schools.scss",
        "scss/core/helpers/resources/essential-information.scss",
        "scss/core/helpers/resources/inventory.scss",
        "scss/core/helpers/resources/data-table.scss",
        "scss/core/helpers/resources/new-condo-detail.scss",
        "scss/core/helpers/resources/new-condo-filter.scss",
        "scss/core/helpers/resources/new-condo-grid.scss",
        "scss/core/helpers/resources/new-condo-list.scss"
      ]
    },
    {
      "path": "preview/css/main-project.scss",
      "imports": [
        "preview/css/core/variables/variables.scss",
        "preview/css/core/generals/general.scss",
        "preview/css/core/generals/header.scss",
        "preview/css/core/generals/footer.scss",
        "preview/css/core/pages/home.scss",
        "preview/css/core/pages/about.scss",
        "preview/css/core/pages/contact-us.scss"
      ]
    },
    {
      "path": "preview/css_edge/edge.scss",
      "imports": [
        "preview/css_edge/core/variables/variables.scss",
        "preview/css_edge/core/generals/general.scss",
        "preview/css_edge/core/generals/header.scss",
        "preview/css_edge/core/generals/footer.scss",
        "preview/css_edge/core/pages/home.scss",
        "preview/css_edge/core/pages/about.scss",
        "preview/css_edge/core/pages/contact-us.scss",
        "preview/css_edge/core/pages/reset-core.scss"
      ]
    },
    {
      "path": "preview/css_fortune/fortune.scss",
      "imports": [
        "preview/css_fortune/core/variables/variables.scss",
        "preview/css_fortune/core/generals/general.scss",
        "preview/css_fortune/core/generals/header.scss",
        "preview/css_fortune/core/generals/footer.scss",
        "preview/css_fortune/core/pages/home.scss",
        "preview/css_fortune/core/pages/about.scss",
        "preview/css_fortune/core/pages/contact-us.scss",
        "preview/css_fortune/core/pages/special-about.scss",
        "preview/css_fortune/core/pages/reset-core.scss"
      ]
    },
    {
      "path": "preview/css_lg/lg.scss",
      "imports": [
        "preview/css_lg/core/variables/variables.scss",
        "preview/css_lg/core/generals/general.scss",
        "preview/css_lg/core/generals/header.scss",
        "preview/css_lg/core/generals/footer.scss",
        "preview/css_lg/core/generals/about.scss",
        "preview/css_lg/core/generals/contact-us.scss",
        "preview/css_lg/core/generals/reset-core.scss",
        "preview/css_lg/core/generals/lg-components.scss",
        "preview/css_lg/homeWorth.scss",
        "preview/css_lg/project-style.scss"
      ]
    },
    {
      "path": "preview/css_lg_073/lg.scss",
      "imports": [
        "preview/css_lg_073/core/variables/variables.scss",
        "preview/css_lg_073/core/generals/general.scss",
        "preview/css_lg_073/core/generals/header.scss",
        "preview/css_lg_073/core/generals/footer.scss",
        "preview/css_lg_073/core/generals/about.scss",
        "preview/css_lg_073/core/generals/contact-us.scss",
        "preview/css_lg_073/core/generals/reset-core.scss",
        "preview/css_lg_073/core/generals/lg-components.scss",
        "preview/css_lg_073/homeWorth.scss",
        "preview/css_lg_073/project-style.scss",
        "preview/css_lg_073/project/css/styles.scss",
        "preview/css_lg_073/project/css/fonts.scss",
        "preview/css_lg_073/project/icons/styles.scss",
        "preview/css_lg_073/project/css/plugin/great-slider.scss",
        "preview/css_lg_073/project/css/icons.scss"
      ]
    },
    {
      "path": "preview/css_lg_073/project-style.scss",
      "imports": [
        "preview/css_lg_073/project/css/styles.scss",
        "preview/css_lg_073/project/css/fonts.scss",
        "preview/css_lg_073/project/icons/styles.scss",
        "preview/css_lg_073/project/css/plugin/great-slider.scss",
        "preview/css_lg_073/project/css/icons.scss"
      ]
    },
    {
      "path": "preview/css_microsite/micrositeib.scss",
      "imports": [
        "preview/css_microsite/core/variables/variables.scss",
        "preview/css_microsite/core/generals/general.scss",
        "preview/css_microsite/core/generals/header.scss",
        "preview/css_microsite/core/generals/footer.scss",
        "preview/css_microsite/core/pages/home.scss",
        "preview/css_microsite/core/pages/about.scss",
        "preview/css_microsite/core/pages/contact-us.scss"
      ]
    },
    {
      "path": "preview/css_millenium/millennium.scss",
      "imports": [
        "preview/css_millenium/core/variables/variables.scss",
        "preview/css_millenium/core/generals/general.scss",
        "preview/css_millenium/core/generals/header.scss",
        "preview/css_millenium/core/generals/footer.scss",
        "preview/css_millenium/core/pages/home.scss",
        "preview/css_millenium/core/pages/about.scss",
        "preview/css_millenium/core/pages/contact-us.scss",
        "preview/css_millenium/core/pages/reset-core.scss"
      ]
    },
    {
      "path": "preview/css_minimal/main-project.scss",
      "imports": [
        "preview/css_minimal/core/variables/variables.scss",
        "preview/css_minimal/core/generals/general.scss",
        "preview/css_minimal/core/generals/header.scss",
        "preview/css_minimal/core/generals/footer.scss",
        "preview/css_minimal/core/pages/home.scss",
        "preview/css_minimal/core/pages/about.scss",
        "preview/css_minimal/core/pages/contact-us.scss"
      ]
    },
    {
      "path": "preview/css_related/related.scss",
      "imports": [
        "preview/css_related/core/variables/variables.scss",
        "preview/css_related/core/generals/general.scss",
        "preview/css_related/core/generals/header.scss",
        "preview/css_related/core/generals/footer.scss",
        "preview/css_related/core/pages/home.scss",
        "preview/css_related/core/pages/about.scss",
        "preview/css_related/core/pages/contact-us.scss",
        "preview/css_related/core/pages/reset-core.scss"
      ]
    },
    {
      "path": "preview/css_robertomalca/edge.scss",
      "imports": [
        "preview/css_robertomalca/core/variables/variables.scss",
        "preview/css_robertomalca/core/generals/general.scss",
        "preview/css_robertomalca/core/generals/header.scss",
        "preview/css_robertomalca/core/generals/footer.scss",
        "preview/css_robertomalca/core/pages/home.scss",
        "preview/css_robertomalca/core/pages/about.scss",
        "preview/css_robertomalca/core/pages/contact-us.scss",
        "preview/css_robertomalca/core/pages/reset-core.scss"
      ]
    },
    {
      "path": "preview/css_lg/bk/lg.scss",
      "imports": [
        "preview/css_lg/bk/homeWorth.scss",
        "preview/css_lg/bk/project-style.scss"
      ]
    },
    {
      "path": "preview/css_lg_073/bk/lg.scss",
      "imports": [
        "preview/css_lg_073/bk/homeWorth.scss",
        "preview/css_lg_073/bk/project-style.scss"
      ]
    },
    {
      "path": "preview/css_lg_073/sdsd/lg.scss",
      "imports": [
        "preview/css_lg_073/sdsd/core/variables/variables.scss",
        "preview/css_lg_073/sdsd/core/generals/general.scss",
        "preview/css_lg_073/sdsd/core/generals/header.scss",
        "preview/css_lg_073/sdsd/core/generals/footer.scss",
        "preview/css_lg_073/sdsd/core/generals/about.scss",
        "preview/css_lg_073/sdsd/core/generals/contact-us.scss",
        "preview/css_lg_073/sdsd/core/generals/reset-core.scss",
        "preview/css_lg_073/sdsd/core/generals/lg-components.scss",
        "preview/css_lg_073/sdsd/homeWorth.scss",
        "preview/css_lg_073/sdsd/project-style.scss"
      ]
    },
    {
      "path": "preview/css_robertomalca/bk/edge.scss",
      "imports": [
        "preview/css_robertomalca/bk/core/variables/variables.scss",
        "preview/css_robertomalca/bk/core/generals/general.scss",
        "preview/css_robertomalca/bk/core/generals/header.scss",
        "preview/css_robertomalca/bk/core/generals/footer.scss",
        "preview/css_robertomalca/bk/core/pages/home.scss",
        "preview/css_robertomalca/bk/core/pages/about.scss",
        "preview/css_robertomalca/bk/core/pages/contact-us.scss",
        "preview/css_robertomalca/bk/core/pages/reset-core.scss"
      ]
    },
    {
      "path": "scss/core/generals/general.scss",
      "imports": [
        "scss/core/helpers/resources/basic-testimonials.scss",
        "scss/core/helpers/resources/contact-form-basic-theme.scss",
        "scss/core/helpers/resources/breadcrumbs.scss",
        "scss/core/helpers/resources/paginator.scss",
        "scss/core/helpers/resources/message.scss",
        "scss/core/helpers/resources/modals.scss",
        "scss/core/helpers/resources/modals-master.scss",
        "scss/core/helpers/resources/modal-register.scss",
        "scss/core/helpers/resources/modal-new-login.scss",
        "scss/core/helpers/resources/modal-full-slider.scss",
        "scss/core/helpers/resources/full-slider.scss",
        "scss/core/helpers/resources/sliders.scss",
        "scss/core/helpers/resources/similar-properties.scss",
        "scss/core/helpers/resources/autocomplete-home.scss",
        "scss/core/helpers/resources/basic-form.scss",
        "scss/core/helpers/resources/preloader.scss",
        "scss/core/helpers/resources/collapse.scss",
        "scss/core/helpers/resources/quick-search.scss",
        "scss/core/helpers/resources/great-slider.scss",
        "scss/core/helpers/resources/neighborhoods-list-home.scss",
        "scss/core/helpers/resources/neighborhood-menu.scss",
        "scss/core/helpers/resources/neighborhood-home-list.scss",
        "scss/core/helpers/resources/ppc.scss",
        "scss/core/helpers/resources/neighborhood-grid-map.scss",
        "scss/core/helpers/resources/floor-plans.scss",
        "scss/core/helpers/resources/shortcode-inventory-counter.scss",
        "scss/core/helpers/resources/shortcode-tab-slider.scss",
        "scss/core/helpers/resources/shortcode-box-search.scss",
        "scss/core/helpers/resources/new-quick-search.scss"
      ]
    },
    {
      "path": "scss/core/pages/building-detail.scss",
      "imports": [
        "scss/core/helpers/resources/essential-information.scss",
        "scss/core/helpers/resources/inventory.scss",
        "scss/core/helpers/resources/data-table.scss"
      ]
    },
    {
      "path": "scss/core/pages/new-condo-list.scss",
      "imports": [
        "scss/core/helpers/resources/new-condo-detail.scss",
        "scss/core/helpers/resources/new-condo-filter.scss",
        "scss/core/helpers/resources/new-condo-grid.scss",
        "scss/core/helpers/resources/new-condo-list.scss"
      ]
    },
    {
      "path": "scss/core/pages/property-detail.scss",
      "imports": [
        "scss/core/helpers/resources/schools.scss"
      ]
    },
    {
      "path": "scss/core/pages/search-results.scss",
      "imports": [
        "scss/core/helpers/resources/filters.scss",
        "scss/core/helpers/resources/filters-mobile.scss",
        "scss/core/helpers/resources/view-grid.scss",
        "scss/core/helpers/resources/view-grid-formato-uno.scss",
        "scss/core/helpers/resources/view-list.scss",
        "scss/core/helpers/resources/view-map.scss",
        "scss/core/helpers/resources/view-full-map.scss",
        "scss/core/helpers/resources/all-filters.scss",
        "scss/core/helpers/resources/autocomplete-list.scss"
      ]
    },
    {
      "path": "preview/css_lg_073/project/css/styles.scss",
      "imports": [
        "preview/css_lg_073/project/css/fonts.scss",
        "preview/css_lg_073/project/icons/styles.scss",
        "preview/css_lg_073/project/css/plugin/great-slider.scss",
        "preview/css_lg_073/project/css/icons.scss"
      ]
    },
    {
      "path": "preview/css_lg_073/project/js/main.js",
      "imports": [
        "preview/css_lg_073/project/js/footer-form.js",
        "preview/css_lg_073/project/js/home-header-fixed.js",
        "preview/css_lg_073/project/js/modal-form.js",
        "preview/css_lg_073/project/js/header.js"
      ]
    },
    {
      "path": "preview/css_lg_073/project/js/usp.js",
      "imports": [
        "preview/css_lg_073/project/js/slider-residences.js",
        "preview/css_lg_073/project/js/slider-reasons.js",
        "preview/css_lg_073/project/js/slider-testimonials.js",
        "preview/css_lg_073/project/js/footer-form.js",
        "preview/css_lg_073/project/js/modal-form.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7900,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"outputSuffix\":\".min\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": true,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}