#flex-about-theme{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

	.flex-breadcrumb{
		margin-bottom: 0;
	}

	
	.c-flex{
		/*margin-top: 1.25rem;
		margin-bottom: 1.25rem;*/
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		/*max-width: 924px;*/

		@media screen and (min-width: 991px){
			align-items: center;
		}

    .flex-block-description{
    	order: 1;
    	width: 90%;
    	margin: 0 auto;
			max-width: 500px;
			padding: 2rem 0;
    	@media screen and (min-width: 991px){
				width: 50%;
    	}
			.title-block{
				font-size: 1.5rem;
				text-align: left;
				text-transform: uppercase;
				margin-bottom: 0.625rem;
				text-align: center;
				@media screen and (min-width: 991px){
					font-size: 2rem;
					margin-bottom: 1.875rem;
				}
				/*&:after{
					content: "";
					display: block;
					height: 4px;
					background-color: #013766;
					width: 80px;
					margin: 5px auto;
				}*/
			}
			p{
				font-size: 0.875rem;
				line-height: 1.6;
				text-align: left;
				margin-bottom: 0.625rem;

				text-align: justify;

				@media screen and (min-width: 991px){
					margin-bottom: 1.875rem;
				}
			}
		}
		.flex-block-image{
			order: 2;
			width: 100%;
			height: auto;
			line-height: 0;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media screen and (min-width: 991px){
				width: 46%;
				height: 100%;
    	}
		}
		#testimonials{
			margin-top: 1.25rem;
			@media screen and (min-width: 991px){
				margin-top: 3.125rem;
			}
			order: 3;
			width: 100%;
			background-color: #f4f4f4;
			padding: 1.625rem 0;
			>h2{
				position: absolute;
				width: 0;
				height: 0;
				overflow: hidden;
			}
			ul{
				li{
					font-size: 0.875rem;
					line-height: 1.6;
					font-style: italic;
					span{
						font-style: normal;
						display: block;
						margin-top: 1.25rem;
					}
					.item-testimonial{
						width: 90%;
						margin: 0 auto;
						position: relative;
					}
				}
			}
		}
	}

	#slider-testimonial {
		.next-prev{
			display: none;
		}
		.nav {
			top: auto;
			width: auto;
			left: 50%;
			transform: translateX(-50%);
			bottom: -7px;
			height: 20px;
			button{
				width: 13px;
				height: 13px;
				margin-right: .9rem;
				
				&:last-child {
					margin-right: 0;
				}
			}
			.bullets {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.box-btn{
		display:flex;
		justify-content: space-between;
		@media screen and (min-width: 640px){
			.clidxboost-btn-link {
				/*max-width: 220px;*/
				min-width: auto;
				width: 49%;
				span{
					padding: 0;
				}
			}
		}

		@media (max-width: 1024px){
			.clidxboost-btn-link {
				max-width: 195px;
				span{
					font-size: 12px;
				}
			}
		}

		@media (max-width: 860px){
			flex-direction: column;
			.clidxboost-btn-link {
				max-width: 100%;
			}
		}

		@media (max-width: 768px){
			flex-direction: row;
			.clidxboost-btn-link {
				max-width: 48%;
				margin: 0;
			}
		}

		@media (max-width: 480px){
			flex-direction: column;
			.clidxboost-btn-link {
				max-width: 100%;
				margin-bottom: 10px;
			}
		}

	}
}

.box-btn{
	text-align: center;
	margin-bottom: 15px;
}
.clidxboost-btn-link{
	span{
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 0.875rem;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
}