/*----------------------------------------------------------------------------------*/
/* Home
/*----------------------------------------------------------------------------------*/
##{$prefijo}flex-home-theme{
	.#{$prefijo}gwr{
		width: 100% !important;
	}

	.#{$prefijo}flex-block-description{
		text-align: center;
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1400px;
		padding: 3rem 1rem;
		@media screen and (min-width: 640px){
    	padding: 6rem 1rem;
		}

		.#{$prefijo}title-block{
	    font-weight: 700;
	    font-family: $opensans;
	    text-align: center;
	    margin-bottom: 1rem;
	    font-size: 22/16*1rem;
	    flex-grow: 1;
	    text-transform: uppercase;

	    @media screen and (min-width: 768px){
	      font-size: 2rem;
	      margin-bottom: 20/16*1rem;
	    }

	    &:after{
				content: "";
				width: 34px;
				height: 1px;
				display: block;
				margin: 1.25rem auto 0 auto;
				background-color: #333;
	    }
	  }

	  p{
			max-width: 950px;
			font-family: $opensans;
			font-size: 14/16*1rem;
			line-height: 1.6;
			margin: 1rem auto;
			text-align: justify;
			-moz-text-align-last: center;
			text-align-last:  center
	  }

	  .clidxboost-btn-link{
			margin-top: 1rem;
			span{
				background-color: #013766;
				border-color: #013766;
			}
			&:hover{
				span{
					background-color: #FFF;
					color: #013766;
				}
			}
			
			@media (max-width: 480px){
				width: 100%;
			}
	  }
	}

	##{$prefijo}featured-section{
		.#{$prefijo}title-block{
			&:after{
				display: none;
			}
		}
	}

	/*----------------------------------------------------------------------------------*/
	/* Sección: About Us
	/*----------------------------------------------------------------------------------*/
	##{$prefijo}profile-section{
		background-color: #efefef;
		padding: 3rem 1rem;

		.content-article{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 1100px;
			margin: 0 auto;
			article{
				order: 1;
				text-align: center;
				width: 100%;
				.idx_txt_text_welcome_front{
					text-align: center;
					font-size: 30/16*1rem;
					font-weight: 600;
					margin-bottom: 1rem;
					text-transform: uppercase;
					span{
						font-size: 14/16*1rem;
						display: block;
						color: #013766;
						font-weight: 400;
					}
				}

				ul{
					li{
						font-size: 14/16*1rem;
						font-family: $opensans;
						a{
							transition: all .3s;
							&:hover{
								color: #013766;
								text-decoration: underline;
							}
						}
					}
				}

				p{
					margin: 1rem 0;
					font-size: 14/16*1rem;
					line-height: 1.6;
					font-family: $opensans;
					text-align: justify;
				}

				.clidxboost-btn-link{
					display: inline-block;
					margin: 1rem 0;
					padding: 0 40/16*1rem;
					color: #FFF;
					text-transform: uppercase;
					font-size: 14/16*1rem;
					text-align: center;
					height: 45px;
					background-color: #013766;
					border: 1px solid #013766;
					transition: all .3s;
					line-height: 45px;
					font-weight: 600;
					&:hover{
						background-color: #FFF;
						color: #013766;
					}
				}
			}
			.content-flex-img{
				order: 0;
				width: 100%;
				margin-bottom: 1rem;
				flex-shrink: 0;
				img{
					width: 100%;
					max-width: 244px;
					display: block;
					margin: 0 auto;
				}
			}

			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				article{
					text-align: left;
					margin-left: 2rem;
					.idx_txt_text_welcome_front{
						text-align: left;
					}
					.clidxboost-btn-link{
						margin-bottom: 0;
					}
				}
				.content-flex-img{
					width: 250px;
					margin-bottom: 0;
				}
			}
		}
	}

	/*----------------------------------------------------------------------------------*/
	/* Sección: Autocomplete Home
	/*----------------------------------------------------------------------------------*/
	##{$prefijo}flex-bubble-search{
		background-color: transparent;

		.#{$prefijo}content-flex-bubble-search{

			.#{$prefijo}flex-link {
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
			}
		}

		.#{$prefijo}idx_text_search_bar{
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

			@media screen and (min-width: 768px){
				font-size: 2rem;
			}
		}
	}
}

@media (max-width: 640px){
	#flex-home-theme{
		.active-search-modal{
			#flex-bubble-search{
				.flex-link {
					text-shadow: none;
				}
			}
		}
	}
}

##{$prefijo}next-step{
	background-color: transparent;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 4;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	&:before{
		content: "\e921";
		font-family: $web-icons;
		display: inline-block;
		font-size: 30px;
		color: #FFF;
		margin: 0 auto;
	}
}

#flex-bubble-search{
	#clidxboost-btn-search{
		background-color: #013766;
		border: 2px solid #FFF;
		&:after{
			color: #FFF;
		}
	}
}

.clidxboost-slider .clidxboost-nav .clidxboost-bullets button.active span:before, 
.clidxboost-slider .clidxboost-nav .clidxboost-bullets button:hover span:before {
    background-color: #013766;
}

@media (max-width: 640px){
	.#{$prefijo}active-search-modal{
		##{$prefijo}flex-bubble-search{
			.#{$prefijo}content-flex-bubble-search{
				.#{$prefijo}flex-link {
					text-shadow: none !important;
				}
			}
		}
	}	
}

.clidxboost-item-broker{
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	display: block;
	z-index: 4;
	@media (max-width: 768px){
		display: none;
	}
}

#slider-main.clidxboost-slider{
	@media screen and (min-width: 640px){
		.clidxboost-next-prev{
			display: inline-block;
		}
	}

	.clidxboost-wrap-information{
		bottom: 25px;
	}
	.clidxboost-wrap-slider>ul>li .clidxboost-item-slider{
		@media screen and (min-width: 768px){
			&:after{
				content: "";
				display: block;
				position: absolute;
				z-index: 1;
				background-color: rgba(0,0,0,0.7);
				width: 100%;
				left: 0;
				bottom: 0;
				height: 90px;
				padding-bottom: 0 !important;
			}
		}
	}

	.clidxboost-nav{
		.clidxboost-next-prev{
			.clidxboost-next,
			.clidxboost-prev{
				border-color: #013766;
				background-color: #013766;
			}
		}
	}
}

@media screen and (min-width: 640px){
	.content-filters #wrap-filters .gwr #filters li.mini-search .clidxboost-icon-search input[type=submit],
	.content-filters #wrap-filters .gwr #filters li.mini-search .icon-search input[type=submit], 
	.content-filters #wrap-filters .gwr .filters li.mini-search .clidxboost-icon-search input[type=submit], 
	.content-filters #wrap-filters .gwr .filters li.mini-search .icon-search input[type=submit], 
	.content-filters .wrap-filters .gwr #filters li.mini-search .clidxboost-icon-search input[type=submit], 
	.content-filters .wrap-filters .gwr #filters li.mini-search .icon-search input[type=submit], 
	.content-filters .wrap-filters .gwr .filters li.mini-search .clidxboost-icon-search input[type=submit], 
	.content-filters .wrap-filters .gwr .filters li.mini-search .icon-search input[type=submit] {
	  height: 50px;
	}
}