@import 'core/variables/variables.scss';
@import 'core/generals/general.scss';
@import 'core/generals/header.scss';
@import 'core/generals/footer.scss';
@import 'core/pages/home.scss';
@import 'core/pages/about.scss';
@import 'core/pages/contact-us.scss';
