doctype html
html(lang='en')
  head
    title Page Results | FlexIdx
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#4b4b4b")
    meta(name="theme-color", content="#4b4b4b")
    meta(name="msapplication-navbutton-color", content="#4b4b4b")
    link(rel="stylesheet", href="../css/main.css")
    //link(rel="stylesheet", href="css/main-project.css")

    //Font
    //link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese")

  body

    main.page-deployed
      .wrap-page-deployed
        h1.title-page-deployed Oops!
        .info-deployed
          p We can't seem to find the page you're looking for.
          span Here are some helpful links instead:
        ul.list-deployed
          li: a(href="") Home
          li: a(href="") Advance Search
          li: a(href="") Neighborhoods
          li: a(href="") Condo Buildings

      .layer-mx
    script(type="text/javascript", src="../js/jquery-3.1.1.min.js")
    script(type="text/javascript", src="../js/plugins/jquery-ui.min.js")
    script(type="text/javascript", src="../js/plugins/jquery.ui.touch-punch.min.js")
    script(type="text/javascript", src="../js/dgt-master_X.js")
    script(type="text/javascript", src="../js/idx-js.js")
    