table(style="width:572px")
	tbody
		tr
			td
				table(style="width: 100%; border: 1px solid #ccc; font-size: 14px;")
					tbody
						tr
							td(style="background-color: #EAF2FA; padding: 5px")
								strong Name
						tr
							td(style="background-color: #FFF; padding: 5px") Lorem Ipsum
						tr
							td(style="background-color: #EAF2FA; padding: 5px")
								strong Email
						tr
							td(style="background-color: #FFF; padding: 5px") lorem@ipsum.com
						tr
							td(style="background-color: #EAF2FA; padding: 5px")
								strong IP
							tr
								td(style="background-color: #FFF; padding: 5px") 192.168.1.7
		tr
			td
				table(style="width: 100%; font-size: 14px;")
					tbody
						tr
							td
								h2(style="font-size: 20px; margin-top: 15px; margin-bottom: 0; font-weight: bold") GLASSHAUS
								span(style="font-size: 16px; margin-bottom: 10px; display: block") 3161 CENTER STREET, MIAMI, FL 33133
						tr
							td: img(src="http://lorempixel.com/600/400/city/1/")
						tr
							td
								h3(style="font-size: 24px; padding: 15px; margin: 10px 0; font-weight: bold; color: #FFF; text-align: center; background-color: #0072ac") $55,000,000
						tr
							td
								table(style="width: 100%; font-size: 14px;")
									tbody
										tr
											td(style="border:1px solid #ccc; text-align:center; padding: 5px")
												img(src="images/imagen-b1.png")
												span(style="display: block") 5
											td(style="border:1px solid #ccc; text-align:center; padding: 5px")
												img(src="images/imagen-b2.png")
												span(style="display: block") 5 Baths
											td(style="border:1px solid #ccc; text-align:center; padding: 5px")
												img(src="images/imagen-b3.png")
												span(style="display: block") 8273
											td(style="border:1px solid #ccc; text-align:center; padding: 5px")
												img(src="images/imagen-b4.png")
												span(style="display: block") 6648.132479149039
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span PROPERTY TYPE
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span LOT SIZE / DEVELOPMENT
									span(style="color: #929292; font-size: 13px") 18253
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span YEAR BUILT
									span(style="color: #929292; font-size: 13px") 2015
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span WATERFRONT
									span(style="color: #929292; font-size: 13px") YES
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span STYLE
									span(style="color: #929292; font-size: 13px") CONDO 5+ STORIES
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span PARKING
									span(style="color: #929292; font-size: 13px") 3
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span SWIMMING POOL
									span(style="color: #929292; font-size: 13px") NO
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span STATUS
						tr
							td 
								div(style="display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; -webkit-box-pack: justify; -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #ccc")
									span MLS
									span(style="color: #929292; font-size: 13px") A10023465
						tr
							td 
								a(href="#", style="width: 100%; display: block; color: #FFF; text-align: center; padding: 15px 0; background-color: #333; text-decoration: none; margin-top: 10px") VIEW DETAIL

