/*----------------------------------------------------------------------------------*/
/* Autocomplete List
/*----------------------------------------------------------------------------------*/

.#{$prefijo}cities-list,
##{$prefijo}cities-list{
	position: absolute;
	left: 0;
	z-index: 32;
	background: #FFF;
	ul{
		height: 300px;
		background: #FFF;
		border: 1px solid $gris-lineas;
		border-top: 2px solid $colorweb;
		overflow: hidden;
		z-index: 5;
		width: 100%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $colorweb;
		}
		&::-webkit-scrollbar-track {
			border: 0px solid black;
			background-color: rgba(0, 0, 0, 0.15);
		}

		li{
			font-size: 14/16*1rem;
			font-family: $opensans;
			width: 100% !important;
			border-bottom: 1px solid $gris-lineas !important;
			padding: 0 1rem;
			height: 40px !important;
			transition: all .3s;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&:hover{
				background-color: $colorweb;
				border-bottom: 1px solid $colorweb !important;
				color: #FFF;
			}
			&:last-child{
				border-bottom: 0;
			}
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* UI - Autocomplete List
/*----------------------------------------------------------------------------------*/
.ui-autocomplete{
	height: auto;
	background: #FFF;
	border-top: 2px solid $colorweb;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	z-index: 33;
	max-width: 300px;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $colorweb;
	}

	&::-webkit-scrollbar-track {
		border: 0px solid black;
		background-color: rgba(0, 0, 0, 0.15);
	}

	.ui-autocomplete-category {
		width: 100% !important;
		margin: 0;
		padding: 0 15px;
		height: 40px !important;
		border-bottom: 1px solid #e5e5e5 !important;
		background-color: #f3f3f3;
		display: flex;
		align-items: center;
		font-size: 14px;
	}

	.ui-menu-item{
		width: 100% !important;
		min-height: 40px !important;
		.ui-menu-item-wrapper{
			font-size: 13/16*1rem;
			font-family: $opensans;
			width: 100% !important;
			border-bottom: 1px solid $gris-lineas !important;
			padding: 0 1rem;
			min-height: 45px;
			transition: all .3s;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			text-align: left;
			@media screen and (min-width: 768px){
				font-size: 14/16*1rem;
				min-height: 40px;
			}
			&.ui-state-active,
			&:hover{
				border: 0;
				border-bottom: $colorweb !important;
				background-color: $colorweb;
				color: #FFF;
				/*border-bottom: 1px solid $gris-lineas !important;*/
				margin: 0;
			}
			&:last-child{
				border-bottom: 0;
			}
		}
	}
}