/*----------------------------------------------------------------------------------*/
/* Box Search
/*----------------------------------------------------------------------------------*/

.ib-search-box{
	width: 90%;
	max-width: 826px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.ib-search-box-form{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}

	@media (min-width:768px) {
		width: 33%;
		margin-bottom: 0;
	}

	.ib-title{
		background-color: #fff;
		margin-bottom: 1px;
		font-weight: 600;
		font-size: 14px;
		padding: 10px 5px;
		width: 100%;

		@media (min-width:768px) {
			font-size: 16px;
			padding: 13px 5px;
		}
	}
	>label{
		cursor: pointer;
		width: 49.5%;
		background-color: rgba(255,255,255,0.88);
    margin-bottom: 1px;
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 13px;
    padding: 0;

    input{
    	position: absolute;
    	top: 0;
    	left: 0;
    }

    span{
    	border: 1px solid #333;
			width: 18px;
			height: 18px;
			margin-right: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			&:before{
				content: "";
				display: block;
				background: #333;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				transition: opacity .3s;
				opacity: 0;
			}
    }

    @media (min-width:768px) {
    	height: 45px;
		}
	}

	>select{
		width: 100%;
		background-color: rgba(255,255,255,0.88);
		margin-bottom: 1px;
		position: relative;
		height: 35px;
		background-image: url(../images/select.png);
		background-position: center right;
		background-repeat: no-repeat;

		@media (min-width:768px) {
    	height: 43px;
		}
	}

	>button{
		width: 100%;
		height: 40px;
		color: #FFF;
		background-color: #000;
		font-size: 13px;
		font-weight: 600;
		transition: all .3s;
		&:hover{
			background-color: #333;
		}
		@media (min-width:768px) {
    	height: 44px;
		}
	}

	input:checked ~ span:before {
		opacity: 1;
	}

	.ib-list{
		width: 100%;
		background-color: rgba(255,255,255,0.88);
		li{
			border-bottom: solid 1px #fff;
			a{
				display: block;
				font-size: 12px;
				letter-spacing: 1px;
				position: relative;
				padding: 5px 0 5px 40px;
				transition: all .3s;
				&:before{
					content: '';
					display: block;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: #8c8d91;
					position: absolute;
					left: 25px;
					top: 12px;
				}
				&:hover{
					background-color: #000;
					color: #FFF;
					&:before{
						background-color: #FFF;
					}
				}
				@media (min-width:768px) {
					font-size: 11px;
					padding: 3px 0 3px 40px;
					&:before{
						top: 9px;
					}
				}
			}
		}
	}
}