/*----------------------------------------------------------------------------------*/
/* View Grid
/*----------------------------------------------------------------------------------*/
.#{$prefijo}wrap-result,
##{$prefijo}wrap-result{

	&.#{$prefijo}full-map,
	&.#{$prefijo}view-grid{
		position: relative;

		.#{$prefijo}gwr{
			margin-left: auto;
			margin-right: auto;
			
			/*@media (max-width: 767px){
				width: 96% !important;
			}

			@media (max-width: 639px){
				width: 100% !important;
			}*/
		}
		
		/*Map*/
		.#{$prefijo}wrap-map,
		##{$prefijo}wrap-map{
			display: none;
		}
		
		/*Header List*/
		##{$prefijo}head-list{
			display: none;
		}

		/*Grid*/
		.#{$prefijo}result-search,
		##{$prefijo}result-search{
			position: relative;
			text-align: left;
			>li{
				background-color: #FFF;
				position: relative;
				margin-bottom: 1rem;
				overflow: hidden;
				width: 100%;
				&:hover{
					.#{$prefijo}wrap-slider{
						.#{$prefijo}prev{
							left: 0;
							opacity: 1;
						}
						.#{$prefijo}next{
							right: 0;
							opacity: 1;
						}
					}
					.#{$prefijo}view-detail{
						border-color: $colorweb;
					}
				}

				@media (max-width: 640px){
					.#{$prefijo}wrap-slider{
						.#{$prefijo}prev{
							left: 0 !important;
							opacity: 1 !important;
						}
						.#{$prefijo}next{
							right: 0 !important;
							opacity: 1 !important;
						}
					}
				}

				h2{
					width: 100%;
					padding: 0 1rem;
					font-size: 13/16*1rem;
					font-family: $opensans;
					position: absolute;
					bottom: 1rem;
					left: 0;
					z-index: 4;
					color: #FFF;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
					span{
						display: block;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						span{
							display: inline;
							margin-left: 5/16*1rem;
						}
					}
				}

				.#{$prefijo}flex-property-new-listing{
					padding: 7/16*1rem 1rem;
					font-size: 11/16*1rem;
					font-family: $opensans;
					color: #FFF;
					text-transform: uppercase;
					background-color: rgba(0,0,0,0.6);
					display: inline-block;
					text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
					position: absolute;
					top: 1rem;
					left: 0;
					z-index: 3;
				}

				.#{$prefijo}features{
					width: 100%;
					bottom: 0;
					position: absolute;
					padding: 0 1rem 2.3rem 1rem;
					z-index: 4;
					left: 0;
					li{
						&.#{$prefijo}development,
						&.#{$prefijo}price-sf,
						&.#{$prefijo}address,
						&.#{$prefijo}pr,
						&.#{$prefijo}build-year{
							display: none;
						}
						&.#{$prefijo}price{
							line-height: 1.2;
							font-weight: 700;
							font-family: $opensans;
							font-size: 22/16*1rem;
							text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
							color: #FFF;
						}
						&.#{$prefijo}beds,
						&.#{$prefijo}baths,
						&.#{$prefijo}living-size{
							font-family: $opensans;
							font-size: 14/16*1rem;
							text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
							position: relative;
							display: inline-block;
							padding-right: 1rem;
							color: #FFF;
							&:after{
								content: "";
								width: 4px;
								height: 4px;
								background-color: #FFF;
								border-radius: 100%;
								position: absolute;
								right: 5px;
								top: 50%;
								margin-top: -2px;
							}
						}
						&.#{$prefijo}living-size{
							font-size: 12px;
							span{
								font-size: 14/16*1rem;
								margin-right: 5/16*1rem;
								&:last-child{
									display: none;
								}
							}
							&:after{
								display: none;
							}
						}
					}
				}

				.#{$prefijo}wrap-slider{
					position: relative;
					width: 100%;
					height: 100%;
					>ul{
						width: 100%;
						/*height: 100%;*/
						transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
						overflow: hidden;
						position: relative;
						&:before{
							background: linear-gradient(to bottom,rgba(68,68,68,0) 40%, rgba(0,0,0,.65));
							bottom: 0;
							display: block;
							height: 100%;
							left: 0;
							pointer-events: none;
							position: absolute;
							width: 100%;
							z-index: 3;
							content: "";
							display: block;
							width: 100%;
						}

						>li{
							position: relative;
							width: 100%;
							height: 100%;
							float: left;
							
							&:after{
								content: "";
								display: block;
								padding-bottom: 65%;
							}
							
							&:before{
								content: "";
								position: absolute;
								top: 50%;
								left: 50%;
								/*margin-top: -25px;
								margin-left: -25px;*/
								width: 50px;
								height: 50px;
								border-radius: 50%;
								border: 10px solid #ccc;
								border-top-color: #333;
								border-width: 5px;
								animation: spin 1s infinite linear;
								z-index: 2;
								display: block;
							}
							
							&.#{$prefijo}flex-slider-item-hidden{
								display: none;
							}

							img{
								transition: opacity 0.5s linear;
								opacity: 0;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								object-fit: cover;
								z-index:2;
								&.#{$prefijo}loaded{
									opacity: 1;
								}
							}
							>a{
								line-height: 0;
								display: block;
							}
						}
					}
					.#{$prefijo}prev,
					.#{$prefijo}next{
						position: absolute;
						top: 50%;
						width: 35px;
						height: 46px;
						background-color: rgba(0,0,0,0.7);
						margin-top: -23px;
						z-index: 5;
						text-indent: 100%;
						transition: all .3s;
						opacity: 0;
						overflow: hidden;
						&:hover{
							background-color: rgba(0,0,0,1);
						}
						span{
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							text-align: center;
							text-indent: 0;
							line-height: 46px;
							&:before{
								content: "\e921";
								font-family: $web-icons;
								/*display: flex;
								width: 12px;
								height: 100%;*/
								display: inline-block;
								font-size: 18px;
								/*position: absolute;
								justify-content: center;
								align-items: center;
								transition: all .6s;*/
								color: #FFF;
								/*ight: 0;
								left: 0;
								top: 0;*/
								margin: 0 auto;
							}
						}
					}

					.#{$prefijo}next{
						right: -35px;
						span{
							&:before{
								transform: rotate(-90deg);
							}
						}
					}

					.#{$prefijo}prev{
						left: -35px;
						span{
							&:before{
								transform: rotate(90deg);
							}
						}
					}

					.clidxboost-btn-check{
						width: 35px;
						height: 35px;
						position: absolute;
						top: 1rem;
						right: 1rem;
						z-index: 6;
						background-color: transparent;
						span{
							display: flex;
							width: 100%;
							height: 100%;
							align-items: center;
							justify-content: center;
							&:before{
								content: "";
								background-image: url('../images/corazon.png');
								background-repeat: no-repeat;
								display: block;
								width: 35px;
								height: 35px;
								display: block;
								opacity: 0;
							}
						}
						/*HEART*/
						&.clidxboost-icon-heart{
							span{
								&:before{
									opacity: 1;
									background-position: 0 -33px;
								}
								&.#{$prefijo}active{
									&:before{
										background-position: 0 0;
									}
								}
							}
						}
						/*STAR*/
						&.clidxboost-icon-star{
							span{
								&:before{
									opacity: 1;
									background-position: 0 -135px;
								}
								&.#{$prefijo}active{
									&:before{
										background-position: 0 -100px;
									}
								}
							}
						}
						/*SQUARE*/
						&.clidxboost-icon-square{
							span{
								&:before{
									opacity: 1;
									background-position: 0 -234px;
								}
								&.#{$prefijo}active{
									&:before{
										background-position: 0 -201px;
									}
								}
							}							
						}
					}

					.ib-label-type,
					.ib-label-site{
						display: none;
					}

					&.ib-extra-information{
						.ib-label-type,
						.ib-label-site{
							font-family: $opensans;
							left: 15px;
							position: absolute;
							color: #FFF;
							text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
							font-size: 14px;
							z-index: 3;
							display: inline-block;
						}
						
						.ib-label-site{
							top: 15px;
						}

						.ib-label-type{
							bottom: 15px;
						}

						&:before{
							content: "";
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,0.15);
							z-index: 3;
						}
					}
				}

				.#{$prefijo}view-detail{
					overflow: hidden;
					text-indent: -999999px;
					display: block;
					position: absolute;
					z-index: 4;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 1px solid $gris-lineas;
					transition: border-color .3s;
				}
			}
		}
	}
}

/** Resize: 640 **/
@media screen and (min-width: 640px){
	.#{$prefijo}wrap-result,
	##{$prefijo}wrap-result{

		&.#{$prefijo}full-map,
		&.#{$prefijo}view-grid{

			/*Grid*/
			.#{$prefijo}result-search,
			##{$prefijo}result-search{
				display: flex;
				flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				justify-content: flex-start;
				>li{
					width: 49%;
					margin-right: 2%;
					&:nth-child(2n){
						margin-right: 0;
					}
				}
			}

		}
	}
}

/** Resize: 768 **/
@media screen and (min-width: 768px){
	.#{$prefijo}wrap-result,
	##{$prefijo}wrap-result{

		&.#{$prefijo}full-map,
		&.#{$prefijo}view-grid{
			.#{$prefijo}gwr{
				padding: 0;
			}
		}
	}
}

/** Resize: 1024 **/
@media screen and (min-width: 1024px){
	.#{$prefijo}wrap-result,
	##{$prefijo}wrap-result{

		&.#{$prefijo}full-map,
		&.#{$prefijo}view-grid{
			
			/*Grid*/
			.#{$prefijo}result-search,
			##{$prefijo}result-search{
				display: flex;
				flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				justify-content: flex-start;
				>li{
					width: 32%;
					margin-right: 2%;
					&:nth-child(2n){
						margin-right: 2%;
					}
					&:nth-child(3n){
						margin-right: 0
					}
				}
			}

		}
	}
}

/** Resize: 1360 **/
@media screen and (min-width: 1360px){
	.#{$prefijo}wrap-result,
	##{$prefijo}wrap-result{

		&.#{$prefijo}full-map,
		&.#{$prefijo}view-grid{

			/*Grid*/
			.#{$prefijo}result-search,
			##{$prefijo}result-search{
				display: flex;
				flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				justify-content: flex-start;
				>li{
					width: 24%;
					margin-right: 1.3%;
					&:nth-child(2n){
						margin-right: 1.3%;
					}
					&:nth-child(3n){
						margin-right: 1.3%;
					}
					&:nth-child(4n){
						margin-right: 0;
					}
				}
			}

		}
	}
}