// Chapaza Regular
@font-face {
	font-family: 'Neutra Text Bold';
	src: local('Neutra Text Bold'),
		url('../fonts/neutra/Neutra-Text-Bold.woff2') format('woff2'),
		url('../fonts/neutra/Neutra-Text-Bold.woff') format('woff'),
		url('../fonts/neutra/Neutra-Text-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/neutra/Neutra-Text-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Neutra Text Book';
	src: local('Neutra Text Book'),
		url('../fonts/neutra/Neutra-Text-Book.woff2') format('woff2'),
		url('../fonts/neutra/Neutra-Text-Book.woff') format('woff'),
		url('../fonts/neutra/Neutra-Text-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/neutra/Neutra-Text-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



// Open Sans
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'),
		url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
		url('../fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Bold';
	src: local('Open Sans Bold'),
		url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'),
		url('../fonts/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Semibold';
	src: local('Open Sans Semibold'),
		url('../fonts/open-sans/OpenSans-Semibold.woff2') format('woff2'),
		url('../fonts/open-sans/OpenSans-Semibold.woff') format('woff'),
		url('../fonts/open-sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Light';
	src: local('Open Sans Light'),
		url('../fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
		url('../fonts/open-sans/OpenSans-Light.woff') format('woff'),
		url('../fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

