doctype html
html(lang='en')
	head
		title Contact | Master Elite 2017
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#0073AC")
		meta(name="theme-color", content="#0073AC")
		meta(name="msapplication-navbutton-color", content="#0073AC")
		link(rel="stylesheet", href="../css/main.css")

	body
		section#main-amenities
			h2.main-amenities-title Byscayne Beach
			h3.main-amenities-sub-title Condominium Amenities
			.cm-wrap-img.cm-img-content
				img(data-blazy="/images/general/amenities/2.png").blazy

		section.amenities-section
			h2 A Luxury Gem At The Heart of Modern Edgewater Neighborhood
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
		
		section.amenities-wrap-content
			
			#grid-amenities
				.grid-amenities-content
					.grid-amenities-img.cm-wrap-img.cm-img-content
						img(data-blazy="/images/general/amenities/img_01.jpg").blazy
					.grid-amenities-information
						h3 Sand Solarium
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationceilings.

				.grid-amenities-content
					.grid-amenities-img.cm-wrap-img.cm-img-content
						img(data-blazy="/images/general/amenities/img_02.jpg").blazy
					.grid-amenities-information
						h3 Peaceful Rest Areas
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationceilings.

				.grid-amenities-content
					.grid-amenities-img.cm-wrap-img.cm-img-content
						img(data-blazy="/images/general/amenities/img_03.jpg").blazy
					.grid-amenities-information
						h3 Luxury Designed Lobby
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationceilings.

				.grid-amenities-content
					.grid-amenities-img.cm-wrap-img.cm-img-content
						img(data-blazy="/images/general/amenities/img_04.jpg").blazy
					.grid-amenities-information
						h3 Modern Game Room
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationceilings.

				.grid-amenities-content
					.grid-amenities-img.cm-wrap-img.cm-img-content
						img(data-blazy="/images/general/amenities/img_05.jpg").blazy
					.grid-amenities-information
						h3 Bayfront Pool
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationceilings.

				.grid-amenities-content
					.grid-amenities-img.cm-wrap-img.cm-img-content
						img(data-blazy="/images/general/amenities/img_06.jpg").blazy
					.grid-amenities-information
						h3 Water View Gym & Spa
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationceilings.

		section.amenities-wrap-content#banner-amenities
			.banner-amenities
				.banner-amenities-information
					h2.banner-title schedule a personalized tour
					p Experience this magnificent building in person with the assitance of a real estate professional to guide you find the best deals, lines and opportunities.
					a(href="#").btn-link: span schedule a tour
				.cm-wrap-img.cm-img-content
					img(data-blazy="/images/general/amenities/2.png").blazy
				.cm-wrap-img.avatar-karen
					img(data-blazy="/images/general/amenities/1.png").blazy
