doctype html
html(lang="en")
	head
		title Roberto Malca
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="shortcut icon", type="image/x-icon", href="images/favicon.png")
		link(rel="stylesheet", href="css/styles.css")
	body
		main.rm-main.rm-mw
			.rm-mblock
				header.rm-mheader
					span.rm-msubtitle Cuando se trata 
						br
						| de Miami Real Estate,
					h1.rm-mtitle El equipo de 
						br
						| Roberto Malca
						br
						| es tu ventaja...
				button.rm-btn-contact: span.rm-bcwrapper Conectar con roberto
			.rm-mpartners
				img(src="img/main/partners/forbes.png", alt="Forbes")
				img(src="img/main/partners/modern-luxury-miami.png", alt="Modern Luxury Miami")
				img(src="img/main/partners/oceandrive.png", alt="Oceandrive")
				img(src="img/main/partners/inmobiliare.png", alt="Inmobiliare")
				img(src="img/main/partners/resident.png", alt="Resident")
				img(src="img/main/partners/golfdigest.png", alt="GolfDigest")
		section.rm-residences.rm-mw
			header.rm-reheader
				h2.rm-retitle Propiedades del lujo 
					br
					| de Miami
				span.rm-resubtitle Residencias Elite en Miami
			#rm-reslider.rm-slider-residences.gs-container-slider
				a(href="#", title="One River Point").rm-resitem
					h3.rm-reititle Missoni Baia
					.rm-resimg: img(src="img/residencias/missoni-baia.jpg", alt="Missoni Baia")
				a(href="#", title="The Ritz-carlonn").rm-resitem
					h3.rm-reititle The Ritz-carlonn
					.rm-resimg: img(src="img/residencias/the-ritz-carlton.jpg", alt="The Ritz-carlonn")
				a(href="#", title="Aston Martin Residences").rm-resitem
					h3.rm-reititle Aston Martin Residences
					.rm-resimg: img(src="img/residencias/aston-martin-residences.jpg", alt="Aston Martin Residences")
				a(href="#", title="Una Brickell").rm-resitem
					h3.rm-reititle Una Brickell
					.rm-resimg: img(src="img/residencias/una-brickell.jpg", alt="Una Brickell")
			a(href="#", title="Ver todos los desarrollos").rm-reall Ver todos los desarrollos
		article.rm-bcta.rm-mw
			.rm-cheader
				h2.rm-ctitle Preguntale al experto 
					br
					| de bienes raíces
				span.rm-ctxt Roberto Malca 
					br
					| es tu experto de 
					br
					| condominios 
					br
					| de lujo en miami.
			button.rm-btn-contact: span.rm-bcwrapper Conectar con roberto
		article.rm-about.rm-mw
			.rm-ableft
				h2.rm-atitle Roberto Malca Miami Luxury Real Estate
				.rm-aparagraphs
					p Roberto Malca tiene una pasión por el sector inmobiliario y se compromete a aportar valor agregado a cada transacción. Su enfoque principal de propiedades de lujo se basa en la comprensión del mercado y la comprensión que le permite atender las necesidades de una clientela exigente de todo el mundo, incluidos los Estados Unidos, América Latina y Europa.
					p Miembro de la dinámica fuerza de ventas de Cervera Real Estate, Roberto ganó tanto un premio Quarterly Top Producer Award como el Most Improved Award en 2012. Representó exclusivamente a Epic Residences, uno de los rascacielos residenciales más prestigiosos de Miami con la distinción de ser uno de los únicos algunos desarrollos de clase mundial realizados por el estimado Ugo Colombo - Presidente de CMC Group - en conjunto con Alfredo y Diego Lowenstein de Lionstone Development y el Grupo Ponte Gadea. Otros proyectos anteriores también incluyen The Opera Tower con el Sr. Tibor Hollow, uno de los desarrolladores más reconocidos de la ciudad, un proyecto que Roberto vio desde las ventas de preconstrucción hasta su finalización. Roberto habla inglés y español con fluidez, y también tiene un conocimiento práctico del portugués.
			.rm-abright
				.rm-abrtxt
					span.rm-abrta Productor premiado 
						br
						| en Miami Luxury Real Estate 
					img(src="img/about/roberto-malca.svg", alt="Roberto Malca").rm-abrtb
		article.rm-bcta.rm-mw.rm-cta-theme2
			.rm-cheader
				h2.rm-ctitle Cuando se trata de Miami 
					br
					| Bienes raíces
				span.rm-ctxt El equipo Roberto Malca 
					br
					| es tu ventaja ...
			button.rm-btn-contact: span.rm-bcwrapper Conectar con roberto
		article.rm-reasons.rm-mw
			header.rm-rheader
				h2.rm-rtitle Razones por qué invertir en 
					br
					| Miami
				span.rm-rsubtitle Miami, 
					br
					| La ciudad global
			#rm-rslider.rm-slider-reasons.gs-container-slider
				.rm-rsiwrapper
					h3.rm-rsititle.rm-icon-bank 1.- Próspero centro financiero
					ul.rm-rsilist
						li.rm-rsilitem
							strong La mayor concentración de bancos internacionales en el sur de la Florida: 
							| 87 instituciones ﬁnancieras y 33 agencias de bancos internacionales.
						li.rm-rsilitem 0 % de impuesto sobre la renta estatal en South Florida.
						li.rm-rsilitem
							strong Puerta de entrada a América Latina: 
							| Sede de más de 1400 corporaciones multinacionales.
						li.rm-rsilitem Miami es categorizada entre las 20 ciudades del mundo con mayor producto regional bruto.
						li.rm-rsilitem Miami esta clasiﬁcada en la novena posición a nivel internacional por su actividad económica.
				.rm-rsiwrapper
					h3.rm-rsititle.rm-icon-bag 2.- Próspero centro financiero
					ul.rm-rsilist
						li.rm-rsilitem
							strong Aeropuerto Internacional de Miami: 
							| Viaja a 150 destinos internacionales.
						li.rm-rsilitem
							strong Puerto de Miami: 
							| El puerto internacional de pasajeros n.º 1 y uno de los mayores socios comerciales de China. Sede internacional de cinco líneas de crucero importantes.
						li.rm-rsilitem
							strong All Aboard Florida (tren de mediana velocidad): 
							| Conecta Miami con Tampa. Representa un impacto económico directo de USD $6400 millones en la economía de Florida para los próximos ocho años.
						li.rm-rsilitem
							strong La ciudad n.º 20 para turistas internacionales en el mundo: 
							| 7.8 millones en 2016; 8 millones en 2017 con un crecimiento del 3.1 % (CNN Travel, nov. de 2017).
				.rm-rsiwrapper
					h3.rm-rsititle.rm-icon-palm-tree 3.- Estilo de vida primera clase
					ul.rm-rsilist
						li.rm-rsilitem
							strong Educación: 
							| La University of Miami está clasificada como una de las 150 mejores del mundo. La Escuela de Negocios de la Florida Int. University está dentro de las 10 mejores de Estados Unidos/dentro de las 15 mejores en el mercado de bienes raíces internacional.
						li.rm-rsilitem
							strong Arte y entretenimiento: 
							| El centro de Miami tiene la mayor concentración de instituciones culturales del sudeste de Estados Unidos. Sede de la feria internacional de arte contemporáneo Art Basel Miami Beach.
						li.rm-rsilitem
							strong Playas: 
							| 135 km (84 millas) de costa del Océano Atlántico, 24 km (15 millas) de las playas más famosas del mundo. Miami es la única ciudad “subtropical” importante de Estados Unidos continental; con una temperatura promedio de 75 °F/23 °C.
		article.rm-bcta.rm-mw.rm-cta-theme3
			.rm-cheader
				h2.rm-ctitle Preguntale al experto 
					br
					| de bienes raíces
				span.rm-ctxt Si busca adquirir una residencia
					br
					| de lujo en Miami.
			button.rm-btn-contact: span.rm-bcwrapper Conectar con roberto
		section.rm-testimonials.rm-mw
			h2.rm-ttitle Testimonios 
				br
				| de clientes
			#rm-tsslider.rm-slider-testimonials.gs-container-slider
				.rm-tsitem
					.rm-tsiparagraph
						p “I have enjoyed working with you and appreciate your attentiveness to my concerns and questions.  Your proactive approach to marketing the condominium provides results. I would not hesitate to recommend or have you list a property in the future. Best of luck to going forward.”
					address.rm-tsi-autor.rm-stars Ann Olheiser 
						span.rm-tsia-profession Vice President | Real Estate Asset Manager | U.S. Bank Wealth Management
				.rm-tsitem
					.rm-tsiparagraph
						p “Roberto Malca and his team did a terrific job in selling my condo in Miami. He went out of his way in bringing people to view the unit and had Open Houses with marvelous food spreads on the dining room table. I highly recommend Roberto Malca and his team.”
					address.rm-tsi-autor.rm-stars.rm-stars-five Ms. Paxton Quigley 
						span.rm-tsia-profession Theater Producer
				.rm-tsitem
					.rm-tsiparagraph
						p “When I wanted to buy a luxury condo home in Miami Beach, it was hard to find the right realtor. I found Roberto. Working with Roberto was amazing, he is intelligent , honest, very patient, and extremely pleasant to work with. I can’t stress enough how pleased and satisfied I am that he was able to locate and negotiate the best price for my condo on the beach in a really great building. Roberto was very effective getting answers and was always available for any questions. I really appreciate his dedication to getting the job done right. I highly recommend Roberto Malca to anyone looking for the hardest working, professional and most knowledgable realtor who will really work for you to find the perfect luxury condo at the best price.”
					address.rm-tsi-autor.rm-stars.rm-stars-five William Kurinsky
		section.rm-cform.rm-mw
			.rm-cfbleft: img(src="img/footer/bg-left.jpg", alt="#", title="#").rm-cfimg
			.rm-cfbright
				.rm-cfbr-wrapper
					header.rm-cfbr-header
						h2.rm-cfbr-title Roberto 
							br
							| Malca
						span.rm-cfbr-stitle Contacte Top Productor
					.rm-cfbr-paragraph Complete el formulario para solicitar una consulta privada.
					.rm-cfwrapper
						form#flex_idx_contact_form.form-search(method='post', autocomplete='off')
							input(type='hidden', name='action', value='idxboost_contact_inquiry')
							h3 Email Us
							ul.flex-content-form
								li.form-item
									span First Name *
									input.medium(name='name', type='text', value='', required='')
								li.form-item
									span Last Name *
									input.medium(name='lastname', type='text', value='', required='')
								li.form-item
									span Email *
									input.medium(name='email', type='email', value='', required='')
								li.form-item
									span Phone
									input.medium(name='phone', type='', value='')
								li.form-item.full-item
									span Comments
									textarea.textarea.medium(name='message')
								li.form-item.full-item
									span Best Time to Reach You
									ul.opt-list
										li.opt-item.radio-item
											input#choice_1(name='option_time', type='radio', value='am', checked='')
											label(for='choice_1') am
										li.opt-item.radio-item
											input#choice_2(name='option_time', type='radio', value='pm')
											label(for='choice_2') pm
										li.opt-item.chk-item.full-item
											span Receive Newsletter
											input#Newsletter(name='chk', type='checkbox', value='1')
											label(for='Newsletter') Yes, I would like to receive your Newsletter
								li.form-item.full-item
									button.clidxboost-btn-link
										span Submit
		article.rm-agents.rm-mw
			h2.rm-gtitle Nuestros agentes 
				br
				| en méxico
			ul.rm-glist
				li.rm-glitem
					.rm-glititle Guadalajara, Mexico
					ul.rm-ginfo
						li.rm-gii.rm-giiagent Jorge Rendon
						li.rm-gii
							a(href='tel:5213334967996') +52 1 33 3496 7996
						li.rm-gii
							a(href='mailto:jrendon@robertomalca.com') jrendon@robertomalca.com
				li.rm-glitem
					.rm-glititle Guadalajara, Mexico
					ul.rm-ginfo
						li.rm-gii.rm-giiagent Lolita Felix
						li.rm-gii
							a(href='tel:5213334967915') +52 1 33 3496 7915
						li.rm-gii
							a(href='mailto:lfelix@robertomalca.com') lfelix@robertomalca.com
				li.rm-glitem
					.rm-glititle Mexico City, Mexico
					ul.rm-ginfo
						li.rm-gii.rm-giiagent Patricia Fuentes
						li.rm-gii
							a(href='tel:5215517005062') +52 1 55 1700 5062
						li.rm-gii
							a(href='mailto:pfuentes@robertomalca.com') pfuentes@robertomalca.com
				li.rm-glitem
					.rm-glititle Monterrey, Mexico
					ul.rm-ginfo
						li.rm-gii.rm-giiagent Mireya Villarreal
						li.rm-gii
							a(href='tel:5218183095153') +52 1 81 8309 5153
						li.rm-gii
							a(href='mailto:mvillarreal@robertomalca.com') mvillarreal@robertomalca.com
				li.rm-glitem
					.rm-glititle Querétaro, Mexico
					ul.rm-ginfo
						li.rm-gii.rm-giiagent Nash Sanchez
						li.rm-gii
							a(href='tel:5214423433085') +52 1 442 343 3085
						li.rm-gii
							a(href='mailto:nash@robertomalca.com') nash@robertomalca.com
		footer.rm-footer.rm-mw
			span.rm-fcopy Copyright© 2018 Roberto Malca. All rights reserved
			.rm-fnetworks
				a(href="#", title="Facebook").rm-icon-facebook: span Facebook
				a(href="#", title="Twitter").rm-icon-twitter: span Twitter
				a(href="#", title="Google+").rm-icon-google-plus: span Google+
				a(href="#", title="Youtube").rm-icon-youtube: span Youtube
				a(href="#", title="Linkedin").rm-icon-linked: span Linkedin
			.rm-ftremgroup Design + Powered by 
				a(href="http://www.tremgroup.com/", target="_blank").rm-ftlink TREMGROUP
		//article.rm-hackbox
			header.rm-hb-header
				h3.rm-hb-title Ask The
					br
					| Man Who
					br
					| Lives Here
				span.rm-hb-stitle Looking to acquire a Luxury
					br
					| residence in 
					strong Miami...
			a(href="#", title="Meet Roberto Malca").rm-hb-cta Meet Roberto Malca
			img(src="img/hackbox/logo-web.png", alt="Logo Web").rm-hb-logoweb
		script(src="js/lib/jquery-3.3.1.min.js")
		script(src="js/plugin/greatslider.jquery.min.js")
		script(src="js/main.min.js")