body{
	/*font-family: $gotham;*/
	font-family: $opensans !important;
	margin: 0;
	padding: 0;
	top: 0 !important;
	left: 0 !important;
	position: relative;
}

$prefijo : '';

/**********************************************/
.#{$prefijo}gwr{
	max-width: 1790px;
	width: 92%;
	margin-left:auto;
	margin-right: auto;
}

@media screen and (min-width: 640px) {
	.#{$prefijo}gwr {
		width: 94%;
	}	
}
@media screen and (min-width: 960px) {
	.#{$prefijo}gwr {
		width: 96%;
	}
}
@media screen and (min-width: 1280px) { 
	.#{$prefijo}gwr {
		width: 97%;
	}
}

/*----------------------------------------------------------------------------------*/
/* breadcrumb
/*----------------------------------------------------------------------------------*/
.#{$prefijo}gwr{
	&.#{$prefijo}gwr-breadcrumb{
		.#{$prefijo}flex-breadcrumb{
			max-width: 1790px;
		}
	}
}

#header-filters{
	padding: 0 1rem;
}

#clidxboost-terms-policy{
	margin: 0 !important;
	width: 100% !important;
	max-width: 100% !important;
  padding: 2rem auto;
  .clidxboost-tp-title,
  .clidxboost-terms-tab-nav,
  #atospp-terms,
  #atospp-privacy{
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: 1100px;
  }
}