/*----------------------------------------------------------------------------------*/
/* LG - COMPONENTS
/*----------------------------------------------------------------------------------*/
.lg-theme{
	margin-bottom: 40px;
	@media screen and (min-width: 768px){
		margin-bottom: 0;
	}
}


#header{
	.lg-wrap-content{
		.wrap-menu,
		.wrap-options{
			.gwr{
				width: 97% !important;
				@media screen and (min-width: 768px){
					width: 99% !important;
				}
			}
		}
	}
}


.lg-btncta-text{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.lg-headertxt{
	color: #333;
	line-height: 1.2;
	text-align: center;
	font-size: 12/16*1rem;
	font-family: $opensans;
	margin-bottom: 5px;
}

.lg-btn-cta{
	overflow: hidden;
	height: 40px;
	color: #fff;
	text-transform: uppercase;
	font-family: $opensans;
	font-size: 11/16*1rem;
	position: relative;
	white-space: nowrap;
	background-color: $colorweb;
	border: 1px solid $colorweb;
	transition: all .3s;
	span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10/16*1rem;
	}
	&:hover{
		background-color: #FFF;
		color: #333;
	}
}

.lg-btncta-text{
	position: absolute;
	top: 5px;
	right: 3%;
	height: 30px;
	flex-shrink: 0;
	@media screen and (min-width: 640px){
		right: 3%;
	}

	@media screen and (min-width: 640px){
		position: relative;
		top: 0;
		right: 0;
		height: 100%;
		margin-right: 1rem;
	}

	.lg-btn-cta{
		margin-left: 1rem;
		@media screen and (min-width: 640px){
			margin-left: 0;
			font-size: 13/16*1rem;
			span{
				padding: 0 30/16*1rem;
			}
		}
	}

	.lg-headertxt{
		display: none;
		@media screen and (min-width: 640px){
			display: block;
			font-size: 13/16*1rem;
			font-weight: 600;
		}
	}
}

#header {
	&.lg-header-active{

		.lg-ct-header{

			@media screen and (min-width: 640px){
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;
			}

			.wrap-options{
				.gwr{
					#user-options{
						@media (max-width: 639px){
							position: absolute;
							top: 0;
							left: 0;
							height: 0;
							width: 0;
							overflow: hidden;
						}
					}
				}
			}

			.wrap-options{
				.gwr{
					#user-options {
						margin-right: 48px;
						@media screen and (min-width: 640px){
							margin-right: 0;
						}
					}
				}
			}

			.lg-wrap-content{
				width: 100%;
				@media screen and (min-width: 640px){
					margin-right: 1rem;
					.wrap-options,
					.wrap-menu{
						.gwr{
							margin-right: 0;
						}
					}
				}
			}

			@media screen and (min-width: 991px){
				.wrap-menu{
					.gwr{
						.logo-content {
							top: -90%;
						}
					}
				}
			}

		}
	}
}

.cta-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: $colorweb;
	font-family: $opensans;
	z-index: 6;
	@media screen and (min-width: 768px){
		display: none;
	}
}

.cta-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-top: 1px solid rgba(255,255,255,0.15);
}

.cta-item {
	flex-grow: 1;
	height: 100%;
	position: relative;
	&:after{
		content: "";
		width: 1px;
		height: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		background-color: rgba(255, 255, 255, 0.2);
	}

	&:last-child{
		&:after{
			display: none;
		}
	}
}

.cta-ilink {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	color: #fff;
	font-size: 13/16*1rem;
	transition: all .3s linear;
	&:before{
		display: inline-block;
		margin-right: 10px;
		font-family: $web-icons;
		font-size: 18px;
		font-weight: 100;
	}
	&.cta-icon-celular{
		&:before{
			content: "\e91d";
		}
	}
	&.cta-icon-correo{
		&:before{
			content: "\e91a";
		}
	}
	&.cta-icon-chat{
		&:before{
			content: "\e93d";
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* LG - LOGIN EN MENU LATERAL
/*----------------------------------------------------------------------------------*/
.lg-wrap-login{
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (min-width: 640px){
		display: none;
	}

	>li{
		width: 50%;
		flex-grow: 1;
		border-right: 1px solid rgba(255,255,255,0.23);
		&:last-child{
			border-right: 0;
		}
		a{
			background-color: rgba(0,0,0,0.33);
			width: 100%;
			color: #FFF;
			font-family: $opensans;
			display: flex;
			align-items: center;
			height: 35px;
			padding: 0 1rem;
			font-size: 0.875rem;
			position: relative;
			justify-content: center;
		}
	}
	
	&.active{
		>li{
			>span{
				position: relative;
				color: #FFF;
				display: block;
				width: 100%;
				padding: 0 1rem;
				font-size: 14px;
				background-color: rgba(0,0,0,0.33);
				height: 45px;
				line-height: 45px;
				&:before{
					content: "\e93b";
					display: inline-block;
					width: 25px;
					height: 25px;
					font-size: 12px;
					font-family: $web-icons;
					text-indent: 0;
					transition: all .3s;
					content: "\e924";
					vertical-align: middle;
					margin-top: -3px;
					margin-right: 10px;
					border: 1px solid #fff;
					border-radius: 100%;
					text-align: center;
					line-height: 25px;
				}
				&:after{
					content: "\e921";
					font-family: $web-icons;
					display: flex;
					width: 12px;
					height: 100%;
					font-size: 18px;
					position: absolute;
					justify-content: center;
					align-items: center;
					transition: all .6s;
					color: #FFF;
					right: 1rem;
					top: 0;
					margin: 0 auto;
				}
			}

			.sub-menu{
				background-color: rgba(0, 0, 0, 0.3);
				transition: all .3s;
				opacity: 1;
				overflow: hidden;
				max-height: 0;
				padding: 0 1rem;
				border: 0;
				li{
					a{
						background-color: transparent;
						justify-content: flex-start;
					}
				}
			}
		}

		&.show-login-list{
			>span{
				&:after{
					transform: rotate(-180deg);
				}
			}
			
			.sub-menu{
				padding: 1rem;
				opacity: 1;
				max-height: 600px;
			}
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* LG - PAGINA DE FILTROS (DEFAULT THEME)
/*----------------------------------------------------------------------------------*/
.lg-theme{
	.content-rsp-btn {
		bottom: 40px;
	}

	#wrap-result, 
	.wrap-result{
		&.view-list{
			#result-search,
			.result-search{
				>li{
					&.button_properties{
						display: none;
					}
				}
			}
		}
		&.view-map{
			#result-search,
			.result-search{
				>li{
					&.button_properties{
						min-height: auto;
						padding: 0;
						padding-right: 10px;
						padding-bottom: 10px;
					}
				}
			}
		}
	}

	#flex-default-theme{
		&.lg-default-filter{

			.title-block{
				position: absolute;
				height: 0;
				width: 0;
				overflow: hidden;
			}

			.gwr{
				&.c-flex{
					width: 100% !important;
					max-width: 100% !important;
				}
			}

			.flex-breadcrumb{
				margin-bottom: 0;
			}

			.wrap-subfilters,
			#wrap-subfilters{
				width: 100% !important;
			}
			
			@media screen and (min-width: 640px){
				.wrap-subfilters,
				#wrap-subfilters,
				#wrap-result,
				.wrap-result{
					width: 97% !important;
					margin-left: auto;
					margin-right: auto;
					max-width: 1790px;
				}
			}

			@media screen and (min-width: 1024px){
				.wrap-result,
				#wrap-result{
					&.full-map,
					&.view-grid{
						.result-search,
						#result-search{
							>li{
								width: 32%;
								margin-right: 2%;
								&:nth-child(3n) {
									margin-right: 0;
								}
							}
						}
					}
				}
				
				.flex-breadcrumb{
					width: 97%;
					margin-left: auto;
					margin-right: auto;
					max-width: 1790px;
				}

				.gwr-breadcrumb{
					position: absolute;
					top: 59px;
					background: transparent;
					z-index: 1;
				}

				#wrap-subfilters{
					.gwr{
						#info-subfilters {
							display: block;
							text-align: center;
							position: absolute;
							width: 100%;
						}
					}
				}
			}

			@media screen and (min-width: 1360px){
				.wrap-result,
				#wrap-result{
					&.full-map,
					&.view-grid{
						.result-search,
						#result-search{
							>li{
								width: 24%;
								margin-right: 1.3%;
								&:nth-child(3n) {
									margin-right: 1.3%;
								}
								&:nth-child(4n) {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	&.fixed-active{

		#header{
			box-shadow: none;
			animation-name: initial !important;
			z-index: 32;
			@media (max-width: 990px){
				.wrap-menu{
					.gwr{
						.hamburger-content {
							height: 35px !important;
						}
						
						/*.logo-content{
							img {
								max-height: 30px !important;
							}
						}*/
					}
				}
			}
		}

		#wrap-filters{
			top: 87px;
			z-index: 30;
			@media screen and (min-width: 991px){
				top: 102px;
			}
			@media screen and (min-width: 1024px){
				top: 91px;
			}
		}

		.title-conteiner{
			&.fixed-box{
				top: 86px;
				@media screen and (min-width: 1024px){
					top: 91px;
				}

				.btn-request{
					display: none;
				}
			}
		}
	}

	#header-filters{
		display: none;
	}
}

/*-----------------------------------------------------------------------------------------------------*/
/* LG - FORMULARIO DE CONTACTO EN EL HOME
/*-----------------------------------------------------------------------------------------------------*/
.home-contact{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	background-color: $colorweb;
	@media screen and (min-width: 991px){
		align-items: center;
	}

  .home-contact-wrap-image{
  	width: 100%;
  	position: relative;
  	&:after{
  		content: "";
  		display: block;
  		padding-bottom: 60%;
  	}
    img{
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	object-fit: cover;
    }

    @media screen and (min-width: 991px){
			width: 50%;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
    }
  }

  .home-contact-wrap-form{
  	width: 100%;
		padding: 2.5rem 0;
		@media screen and (min-width: 991px){
			padding-left: 50%;
    }

    .form-search{
    	width: 90%;
    	max-width: 660px;
    	margin: 0 auto;
    	.flex-content-form{
				display: flex;
				justify-content: space-between;
				width: 100%;
				flex-wrap: wrap;
    		.form-item{
    			width: 100%;
    			background-color: transparent;
    			span{
    				color: #FFF;
    			}
    			&:nth-child(6){
    				display: none;
    			}
    			.medium{
						background-color: transparent;
						color: #FFF;
    			}
					@media screen and (min-width: 768px){
						width: 48%;
						&.full-item{
							width: 100%;
						}
					}

					.clidxboost-btn-link:hover{
						span{
							color: #333;
						}
					}
    		}
    	}
    }
  }
}

.form-search .flex-content-form .form-item .clidxboost-btn-link{
	span{
		border-color: #FFF;
	}
}

body.clidxboost-nmap .message-alert{
	@media (max-width: 768px){
		bottom: 53px;
	}
}

.idx-hidden{
	display: none !important;
}